 <ion-content>
  <div class="toolbar">
    <ion-text>Home</ion-text>
    <ion-buttons class='back' slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <!-- <app-header></app-header> -->
  <div class="container">
    <div class="btnView">
      <ion-button class="login-btn" *ngFor="let item of data" (click)="next(item)">
        {{item}}
      </ion-button>
    </div>
  </div>
</ion-content>