<!-- <ion-content>
  <div class="toolbar">
    <ion-text>{{pName}}</ion-text>
    <ion-buttons class="back" title="Go Back">
      <ion-button (click)="nav.back()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class='saveBtn' (click)="onSubmit(0)" title="Submit Incomplete Form">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="container" #target>
    <ion-row>
      <ion-col size-xl="3" size-lg="3" size-md="3"> </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card [formGroup]="bankAccountForm" (ionChange)="onProgressBar($event)">

          <ion-row>
            <ion-col size="12">
              <ion-label>Date</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-datetime placeholder="Please select date" formControlName="form_date"></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['form_date']!= ''">
            <ion-col size="12">
              <ion-label>Bank</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank name" formControlName="bank"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['bank'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['bank']!= ''">
            <ion-col size="12">
              <ion-label>Bank Branch</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank branch" formControlName="branch"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['branch'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['branch']!= ''">
            <ion-col size="12">
              <ion-label>BSB Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter BSB number" formControlName="bsb_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['bsb_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['bsb_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account number" formControlName="account_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['account_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['account_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Name</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account Name" formControlName="name"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['name'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['name']!= ''">
            <ion-col size="12">
              <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter amount" formControlName="amount"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['amount'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['amount']!= ''">

            <ion-col size="12" class="heading">
              If you have a 2nd Bank Account you would like to split your wage into
            </ion-col>

            <ion-col size="12">
              <ion-label>Bank</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank name" formControlName="other_bank"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['other_bank'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_bank']!= ''">
            <ion-col size="12">
              <ion-label>Bank Branch</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank branch" formControlName="other_branch"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['other_branch'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_branch']!= ''">
            <ion-col size="12">
              <ion-label>BSB Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter BSB number" formControlName="other_bsb_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_bsb_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_bsb_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account number" formControlName="other_account_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_account_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_account_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Name</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account Name" formControlName="other_name"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_name'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_name']!= ''">
            <ion-col size="12">
              <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter amount" formControlName="other_amount"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_amount'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

           <ion-row class="progress-bar">
            <ion-col size-xl="10" size-lg="10" size-md="10" size-sm="9" size-xs="9">
              Form progress bar
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="3" size-xs="3">
              {{form_percent_val}}{{'%'}}
            </ion-col>
            <ion-col size="12">
              <ion-progress-bar [value]="form_percent"></ion-progress-bar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button (click)="onSubmit(1)" class="btn" *ngIf="edit == true && (form_percent_val == 100)">UPDATE
              </ion-button>
              <ion-button (click)="onSubmit(1)" class="btn" *ngIf="edit == false && (form_percent_val == 100)">SUBMIT
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="3"> </ion-col>
    </ion-row>
  </div>
</ion-content> -->

<ion-header>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2">
      <ion-buttons class="back" title="Go Back">
        <ion-button (click)="nav.back()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col class="ion-text-center" size-xl="8" size-lg="8" size-md="8" size-sm="8" size-xs="8" class="title">
      {{pName}}
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2">
      <ion-buttons class='saveBtn' (click)="onSubmit(0)" title="Submit Incomplete Form">
        <ion-button>
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <div class="tool"></div>
</ion-header>

<ion-content>
  <div #target>
    <ion-row>
      <ion-col size-xl="3" size-lg="3" size-md="3"> </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card [formGroup]="bankAccountForm" (ionChange)="onProgressBar($event)">

          <ion-row>
            <ion-col size="12">
              <ion-label>Date</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-datetime placeholder="Please select date" formControlName="form_date"></ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['form_date']!= ''">
            <ion-col size="12">
              <ion-label>Bank</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank name" formControlName="bank"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['bank'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['bank']!= ''">
            <ion-col size="12">
              <ion-label>Bank Branch</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank branch" formControlName="branch"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['branch'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['branch']!= ''">
            <ion-col size="12">
              <ion-label>BSB Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter BSB number" formControlName="bsb_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['bsb_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['bsb_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account number" formControlName="account_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['account_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['account_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Name</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account Name" formControlName="name"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['name'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['name']!= ''">
            <ion-col size="12">
              <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter amount" formControlName="amount"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['amount'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['amount']!= ''">

            <ion-col size="12" class="heading">
              If you have a 2nd Bank Account you would like to split your wage into
            </ion-col>

            <ion-col size="12">
              <ion-label>Bank</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank name" formControlName="other_bank"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['other_bank'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_bank']!= ''">
            <ion-col size="12">
              <ion-label>Bank Branch</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter bank branch" formControlName="other_branch"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf=" bankAccountForm.controls['other_branch'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_branch']!= ''">
            <ion-col size="12">
              <ion-label>BSB Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter BSB number" formControlName="other_bsb_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_bsb_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_bsb_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Number</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account number" formControlName="other_account_number"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_account_number'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_account_number']!= ''">
            <ion-col size="12">
              <ion-label>Account Name</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter account Name" formControlName="other_name"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_name'].errors?.pattern">
              Please enter alphabets.
            </ion-col>
          </ion-row>

          <ion-row *ngIf="bankAccountForm.value['other_name']!= ''">
            <ion-col size="12">
              <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input placeholder="Please enter amount" formControlName="other_amount"></ion-input>
            </ion-col>
            <ion-col size="12" class="error" *ngIf="bankAccountForm.controls['other_amount'].errors?.pattern">
              Please enter number.
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button (click)="onSubmit(1)" class="btn" *ngIf="edit == true && (form_percent_val == 100)">UPDATE
              </ion-button>
              <ion-button (click)="onSubmit(1)" class="btn" *ngIf="edit == false && (form_percent_val == 100)">SUBMIT
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="3"> </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <div class="tool-footer"></div>
  <ion-row class="progress-bar">
    <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="3"> </ion-col>
    <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="5" size-xs="8"> Progress bar</ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2"> {{form_percent_val}}{{'%'}} </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2"> </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="1" size-xs="1"> </ion-col>
    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="10" size-xs="10">
      <ion-progress-bar [value]="form_percent"></ion-progress-bar>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="1" size-xs="1"> </ion-col>
  </ion-row>

</ion-footer>