<div class="toolbar">
  <ion-text>{{pageName}}</ion-text>

  <span *ngIf="frame == false">
    <ion-buttons class='back' *ngIf="pageName != 'Dashboard'"   title="Go Back">
      <ion-button (click)="onGoBack()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class='logout'  title="Logout">
      <ion-button (click)="onLogOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </span>

</div>

<!-- <ion-header>
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2" *ngIf="frame == false">
      <ion-buttons class="back" title="Go Back" *ngIf="pageName != 'Dashboard'">
        <ion-button (click)="onGoBack()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col class="ion-text-center" size-xl="8" size-lg="8" size-md="8" size-sm="8" size-xs="8" class="title">
      {{pageName}}
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2">
      <ion-buttons class='logout' title="Logout">
        <ion-button (click)="onLogOut()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <div class="tool"></div>
</ion-header> -->