<ion-content>
  <div class="toolbar">
    <ion-text>Actions</ion-text>
    <ion-buttons class="back">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="container">
  <div class="ion-padding-start ion-padding-end">
    <div>
      <p class="question">
        Description of Required Action
      </p>
      <ion-input placeholder="Enter here" [(ngModel)]="description_of_required_action"></ion-input>
    </div>
    <hr/>
    <p class="question">
      Allocated to
    </p>
    <ion-item class="ra ion-no-margin ion-no-padding" lines="none">
      <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="user_name" (ionChange)="selectUser($event)">
        <ion-select-option value="{{item?.full_name}}" *ngFor="let item of data">
          <p>{{item?.full_name}}</p>
        </ion-select-option>
      </ion-select>
    </ion-item>
    <hr/>
    <p class="question">
      Priority
    </p>
    <ion-radio-group [(ngModel)]="priority">
      <ion-row class="ion-no-padding">
        <ion-col size="4" class="ion-no-padding">
          <ion-item class="ra" lines="none">
            <ion-label>Minor</ion-label>
            <ion-radio slot="start" value="Minor"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <ion-item class="ra" lines="none">
            <ion-label>Major</ion-label>
            <ion-radio slot="start" value="Major"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <hr/>
    <p class="question">
      Expected completion
    </p>
    <ion-item class="ra" lines="none">
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" (ionChange)="dateSelect($event)" [(ngModel)]="expected_completion">
      </ion-datetime>
    </ion-item>
    <hr/>
  </div>
  </div>
    <ion-button class="btn" type="submit" (click)="onSubmit()" *ngIf="isFrom=='add'">
      SUBMIT
    </ion-button>
    <ion-button class="btn" type="submit" (click)="onSubmit()" *ngIf="isFrom=='edit'">
      UPDATE
    </ion-button>
</ion-content>