<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{header}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="onClose" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-input placeholder="Search" [(ngModel)]="term" (ionChange)="onSearch($event)"></ion-input> -->
  <ion-input placeholder="Search" (ionChange)="onSearch($event)"></ion-input>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- <ion-item button class="ion-no-padding" lines="none" (click)="onClose(item)"
      *ngFor="let item of newList.value | filter:term"> -->
    <ion-item button class="ion-no-padding" lines="none" (click)="onClose(item)" *ngFor="let item of newList.value">
      <ion-label>{{item?.full_name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>