<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">

    <ion-row>
      <ion-col size-xl="3" size-lg="2" size-md="2"></ion-col>
      <ion-col size-xl="6" size-lg="8" size-md="8" size-sm="12" size-xs="12" >

        <ion-card>
          <ion-radio-group [(ngModel)]="super_contribution" value="super_contribution" (ionChange)="onFormSelection($event)">
            <ion-item lines="none" size="12">
              <ion-label class="ion-text-wrap">I request all of my future super contributions to be paid to :
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">The APRA fund or retirement saving account (RSA) I nominate
                  </ion-label>
                  <ion-radio slot="start" value="RSA"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">The self-managed super fund (SMSF) I nominate</ion-label>
                  <ion-radio slot="start" value="SMSF"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">The super fund nominated by my emploper</ion-label>
                  <ion-radio slot="start" value="emploper"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <ion-item class="ion-text-wrap text-val">
            Your name and tax file number will be collected from other forms.
          </ion-item>
        </ion-card>

        <ion-card [formGroup]="superannuation">

          <div *ngIf="super_contribution== 'RSA'">

            <ion-row>
              <ion-col size="12">
                <ion-label class="lable-text"> Fund ABN</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Fund ABN" formControlName="rsa_fund_abn">
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Fund Name</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Fund Name" formControlName="rsa_fund_name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_fund_name'].errors?.pattern">
                Please enter alphabets.
              </span>
              <span class="error" *ngIf="isSubmitted && superannuation.controls['rsa_fund_name'].value == ''">
                Please enter fund name.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Fund Address</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-textarea placeholder="Please enter Fund Address" formControlName="rsa_fund_address"></ion-textarea>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Suburb/Town </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Suburb/Town" formControlName="rsa_suburb"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_suburb'].errors?.pattern">
                Please enter alphabets.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> State</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter State" formControlName="rsa_state"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_state'].errors?.pattern">
                Please enter alphabets.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Postcode</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter postcode" formControlName="rsa_postcode"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_postcode'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Fund Phone</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input inputmode="tel" placeholder="Please enter Fund Phone" formControlName="rsa_fund_phone">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_fund_phone'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Unique Superannuation Identifier (USI)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Unique Superannuation Identifier" formControlName="rsa_usi">
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Your Account Name (if applicable)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Your Account Name" formControlName="rsa_account_no"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_account_no'].errors?.pattern">
                Please enter alphabets.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Your Member Number (if applicable)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Your Member Number" formControlName="rsa_member_number">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['rsa_member_number'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>

              <ion-col size="12">
                <ion-label> Attach Compliance Letter</ion-label>
              </ion-col>

              <ion-col size="12">
                <ion-label class="ion-text-wrap mandatoryField">* You need to attach a letter from your
                  fund stating that they are a complying fund and that they will
                  accept contributions from your employer. Correct information about your super fund is needed for your
                  employer to pay super contributions. Your super fund will provide this upon request.
                </ion-label>
              </ion-col>

              <ion-col size="12">
                <ion-input type="file" (change)="onDocPreview($event)">
                </ion-input>
              </ion-col>

              <ion-col size="12">
              </ion-col>

            </ion-row>

          </div>

          <div *ngIf="super_contribution== 'SMSF'">
            <ion-row>
              <ion-col size="12">
                <ion-label class="lable-text"> Fund ABN</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Fund ABN" formControlName="smsf_fund_abn"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Fund Name</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Fund Name" formControlName="smsf_fund_name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_fund_name'].errors?.pattern">
                Please enter alphabets.
              </span>
              <span class="error" *ngIf="isSubmitted && superannuation.controls['smsf_fund_name'].value == ''">
                Please enter fund name.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Fund Address</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-textarea placeholder="Please enter Fund Address" formControlName="smsf_fund_address">
                </ion-textarea>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Suburb/Town </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Suburb/Town" formControlName="smsf_suburb"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_suburb'].errors?.pattern">
                Please enter alphabets.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> State</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter State" formControlName="smsf_state"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_state'].errors?.pattern">
                Please enter alphabets.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label> Postcode</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Postcode" formControlName="smsf_postcode"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_postcode'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Fund Phone</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input inputmode="tel" placeholder="Please enter Fund Phone" formControlName="smsf_fund_phone">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_fund_phone'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Fund electronic service address (ESA)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Fund electronic service address (ESA)" formControlName="smsf_esa">
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>BSB Code(please include all six numbers)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter BSB Code" formControlName="smsf_bsb_code"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Account Number</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Account Number" formControlName="smsf_account_no"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['smsf_account_no'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label class="ion-text-wrap mandatoryField">* You need to attach a document confirming SMSF is an
                  ATO
                  regulated super fund. You can located and print a copy of the compliance status for your SMSF by
                  searching using the ABN or fund name in the Super Fund Lookup service at
                  <ion-router-link href="https://superfundlookup.gov.au/" target="_blank" class="underline">
                    https://superfundlookup.gov.au/</ion-router-link>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label class="ion-text-wrap mandatoryField">* If you are the turstee, or a director of the
                  corporate trustee you can confirm that your SMSF will accpet contribution from your employer by making
                  the following declaration :
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label> Attach ATO Compliance Document</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input type="file" formControlName="smsf_attach_compliance_doc"></ion-input>
              </ion-col>
              <ion-col size="12">
              </ion-col>
            </ion-row>

            <ion-radio-group formControlName="smsf_trustee">
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label class="ion-text-wrap">I am the trustee, or a director of the corporate trustee of the
                      SMSF
                      and I declare that the SMSF will accept contributions from my employer.
                    </ion-label>
                    <ion-radio slot="start" value="RSA"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label class="ion-text-wrap">I am neither the trustee nor a director of the corporte trustee
                      of
                      the SMSF.</ion-label>
                    <ion-radio slot="start" value="SMSF"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>

            <ion-row>

              <ion-col size="12">
                <ion-label class="ion-text-wrap mandatoryField">* If you are the trustee, or a director of the
                  corporate trustee of the SMSF, then you must attach a letter from the trustee confirming that the fund
                  will accept contributions from your employer.
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>Attach Confirmation Letter</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input type="file" formControlName="smsf_attatch_confir_letter"></ion-input>
              </ion-col>
              <ion-col size="12">
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="super_contribution == 'emploper'">
            <ion-row>
              <ion-col size="12">
                <ion-label class="lable-text">Super Fund Name</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Super Fund Name" formControlName="employee_fund_name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['employee_fund_name'].errors?.pattern">
                Please enter alphabets.
              </span>
              <span class="error" *ngIf="isSubmitted && superannuation.controls['employee_fund_name'].value == ''">
                Please enter super fund name.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Unique Superannuation Identifire (USI)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Unique Superannuation Identifire (USI)"
                  formControlName="employee_usi"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Phone (for the product disclosure statement for this fund)</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input placeholder="Please enter Phone" formControlName="employee_phone"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <span class="error" *ngIf="superannuation.controls['employee_phone'].errors?.pattern">
                Please enter number.
              </span>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>Super Fund Website Address</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input type="url" placeholder="Please enter Super Fund Website Address"
                  formControlName="employee_fund_weburl"></ion-input>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col size="1">
              <ion-checkbox color="primary" formControlName="completed"></ion-checkbox>
            </ion-col>
            <ion-col size="11">
              I have completed this form.
            </ion-col>

            <ion-col size="12" class="error" *ngIf="isSubmitted && superannuation.value['completed'] == false">
              Please check this if you have completed above form.
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button (click)="onSubmit()" class="btn">SUBMIT</ion-button>
            </ion-col>
          </ion-row>

        </ion-card>

      </ion-col>
      <ion-col size-xl="3" size-lg="2" size-md="2"></ion-col>
    </ion-row>
  </div>
</ion-content>