<ion-content>

  <div class="toolbar">
    <ion-text>INVESTIGATION</ion-text>
    <ion-buttons class="back">
      <ion-button (click)="nav.back()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class='saveBtn' (click)="saveItemOffline()">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="container">

    <div *ngFor="let item of data">
      <ion-button class="incident" *ngIf="selected!==item" (click)="checkDetails(item)">
        <p>{{item | slice:0:25}}
          <ion-text *ngIf="item.length >= 25">..</ion-text>
        </p>
        <img class="plus" src="./assets/add.png" />
      </ion-button>
      <div *ngIf="selected==item && selected=='Investigation team members'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">Name</p>
        <ion-item class="ra" lines="none" *ngIf="isFrom=='edit'">
          <ion-select placeholder="{{selectedName ? selectedName : 'Select One'}}" interface="action-sheet"
            (ionChange)="selectedValue($event)" value={{selectedName}}>
            <ion-select-option value="{{item.full_name}}" *ngFor="let item of listOfUsers">
              {{item.full_name}} {{item.email}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ra" lines="none" *ngIf="isFrom!=='edit'">
          <ion-select placeholder="Select One" interface="action-sheet" (ionChange)="selectedValue($event)"
            value={{selectedName}}>
            <ion-select-option value="{{item.full_name}}" *ngFor="let item of listOfUsers">
              {{item.full_name}} {{item.email}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <p class="question">Date Investigation Commenced</p>
        <ion-item class="ra" lines="none">
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" (ionChange)="dateSelect($event,'incident')"
            [(ngModel)]="date_investigation_commenced">
          </ion-datetime>
        </ion-item>
        <p class="question">Reportable Incident – Statutory Body</p>
        <ion-radio-group [(ngModel)]="reportable_incident">
          <ion-row>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </div>
      <div *ngIf="selected==item && selected=='Sequence of events'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Pre incident contributing events
        </p>
        <ion-input placeholder="Pre incident contributing events" [(ngModel)]="pre_incident_contributing_events">
        </ion-input>

        <p class="question">
          Post incident events
        </p>
        <ion-input placeholder="Post incident events" [(ngModel)]="post_incident_events"></ion-input>
        <p class="question">
          Other contributing event factors
        </p>
        <ion-input placeholder="Other contributing event factors" [(ngModel)]="other_contributing_event_factors">
        </ion-input>
        <p class="question">
          Critical controls applicable for task
        </p>
        <ion-input placeholder="Critical controls applicable for task"
          [(ngModel)]="critical_controls_applicable_for_task"></ion-input>
      </div>
      <div *ngIf="selected==item && selected=='Investigators Initial Findings (Event Factors)'"
        class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Workplace conditions
        </p>
        <ion-input placeholder="Workplace conditions" [(ngModel)]="workplace_conditions"></ion-input>
        <p class="question">
          Work and People practices
        </p>
        <ion-input placeholder="Work and People practices" [(ngModel)]="work_and_people_practices"></ion-input>
        <p class="question">
          Employee competence
        </p>
        <ion-input placeholder="Employee competence" [(ngModel)]="employee_competence"></ion-input>
        <p class="question">
          Experience
        </p>
        <ion-input placeholder="Experience" [(ngModel)]="experience"></ion-input>
        <p class="question">
          Plant, Equipment or Tooling involve in incident;
        </p>
        <ion-input placeholder="Plant, Equipment or Tooling involve in incident;"
          [(ngModel)]="plant_equipment_or_tooling_involve_in_incident"></ion-input>
        <p class="question">
          Relevant Documentation
        </p>
        <ion-input placeholder="Relevant Documentation" [(ngModel)]="relevant_documentation"></ion-input>
        <p class="question">
          Environmental related factors
        </p>
        <ion-input placeholder="Environmental related factors" [(ngModel)]="environmental_related_factors"></ion-input>
        <p class="question">
          Critical Control Defence Failure / Absent / Non-Compliance
        </p>
        <ion-input placeholder="Critical Control Defence Failure / Absent / Non-Compliance"
          [(ngModel)]="critical_control_defence_failure_absent_non_compliance"></ion-input>
      </div>
      <div *ngIf="selected==item && selected=='Immediate Cause Analysis'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          What substandard acts / practices and conditions caused or could cause the incident
        </p>
        <ion-input placeholder="What substandard acts / practices and conditions caused or could cause the incident"
          [(ngModel)]="what_substandard_acts_practices_and_conditions_caused_or_could"></ion-input>
        <p class="question">
          What systems / personal factors caused or could cause the incident
        </p>
        <ion-input placeholder="What systems / personal factors caused or could cause the incident"
          [(ngModel)]="what_systems_personal_factors_caused_or_could_cause_the_incident"></ion-input>
      </div>
      <div *ngIf="selected==item && selected=='Investigation Team Conclusion of Incident Causes'"
        class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Root Cause
        </p>
        <ion-input placeholder="Root Cause" [(ngModel)]="root_cause"></ion-input>
        <p class="question">
          Key Learnings
        </p>
        <ion-input placeholder="Key Learnings" [(ngModel)]="key_earnings"></ion-input>
        <p class="question">
          Comments
        </p>
        <ion-input placeholder="Comments" [(ngModel)]="comments"></ion-input>
        <p class="question">Is a Safety, Environmental or Quality Alert required?</p>
        <ion-item class="ra" *ngFor="let entry of reputationCheckBox" lines="none">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)="selectChekbox($event)">
          </ion-checkbox>
        </ion-item>
      </div>

      <div *ngIf="selected==item && selected=='Security'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-radio-group [(ngModel)]="securityRadio">
          <ion-row class="ion-no-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>IT</ion-label>
                <ion-radio slot="start" value="IT"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Theft</ion-label>
                <ion-radio slot="start" value="Theft"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Other</ion-label>
                <ion-radio slot="start" value="Other"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="securityRadio=='IT'">
          <ion-list class="ion-no-padding">
            <ion-item class="ion-no-padding" lines="none" class="ra">
              <ion-label>What kind of IT Security Incident ?</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of itsecurityCheckbox">
                <ion-item lines="none" class="ion-no-padding" class="ra">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>
        <div *ngIf="securityRadio=='Theft'">
          <p class="question">
            What has been stolen ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="stolenItem"></ion-input>

          <p class="question">
            Approximate value of stolen item ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="approximateValueOfStolen"></ion-input>

          <p class="question">
            What is the specific Security incident ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]='specificSecurityIncident'></ion-input>
        </div>
      </div>
      <div *ngIf="selected==item && selected=='Additional Investigation'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Additional Investigation Required
        </p>
        <ion-radio-group [(ngModel)]="additional_investigation_required" (ionChange)="additionalRadio($event)">
          <ion-row class="ion-no-padding">
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <p class="question">
          Type
        </p>
        <ion-radio-group [(ngModel)]="type" (ionChange)="typeSelect($event)">
          <ion-row class="ion-no-padding">
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Client</ion-label>
                <ion-radio slot="start" value="Client"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>General Manager</ion-label>
                <ion-radio slot="start" value="General Manager"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>WHSEQ Department</ion-label>
                <ion-radio slot="start" value="WHSEQ Department"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </div>
    </div>


    <ion-button (click)="onSubmit()" class="btn" *ngIf="isFrom=='edit'">UPDATE</ion-button>
    <ion-button (click)="onSubmit()" class="btn" *ngIf="isFrom=='add'">ADD</ion-button>
  </div>

</ion-content>