<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">
    <div class="ion-margin-top ion-margin-bottom">

      <ngx-datatable [scrollbarH]="true" class="material" [limit]="10" [rows]="rows" [rowHeight]="50"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" (activate)="onActivate($event)">

        <!-- <ng-template let-row="row" > -->

        <ngx-datatable-column name="Sr.No" [width]="80" [resizeable]="true">
          <ng-template let-rowIndex="rowIndex" let-value="rows" ngx-datatable-cell-template>{{ (rowIndex+1) }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Incident Type" prop="incident_value" [minWidth]="150" [resizeable]="true">
          <!-- <ng-template let-column="column" ngx-datatable-cell-template>{{incident_value}}</ng-template> -->
        </ngx-datatable-column>

        <ngx-datatable-column name="Incident Date" [minWidth]="150" [resizeable]="true" prop="created_date">
        </ngx-datatable-column>

        <ngx-datatable-column name="Incident Time" prop="created_time" [minWidth]="150" [resizeable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column name="Assigned Manager" prop="classification_manager" [minWidth]="150"
          [resizeable]="true">
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" prop="complete_status" [minWidth]="150" [resizeable]="true">
        </ngx-datatable-column>


        <ngx-datatable-column [minWidth]="50" [resizeable]="true" prop="id">
          <ng-template let-column="column" ngx-datatable-header-template>View</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon class="view" slot="icon-only" name="eye-outline" (click)="onGoToDetails(value)"></ion-icon>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [minWidth]="50" [resizeable]="true" prop="edit_status">
          <ng-template let-column="column" ngx-datatable-header-template>Edit</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon [disabled]="value" class="view" slot="icon-only" name="create-outline" (click)="onGoToEdit()">
            </ion-icon>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="ivalue" [minWidth]="230" [resizeable]="true" prop="assign_investigator_status">
          <ng-template let-column="column" ngx-datatable-header-template>Assign Investigator</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-item [disabled]="value" class="ion-no-padding ion-no-margin dropDownStyle" lines="none">
              <ion-select placeholder="Select Investigator" value={{value}} (ionChange)="onAssignInvestigator($event)">
                <ion-select-option value="{{item?.employee_id}}" *ngFor="let item of listOfUsers">{{item?.full_name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [minWidth]="50" [resizeable]="true" prop="id" prop="investigation_form_status">
          <ng-template let-column="column" ngx-datatable-header-template>Investigation</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon [disabled]="value" class="view" slot="icon-only" name="create-outline"
              (click)="onGoToInvestigation()">
            </ion-icon>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [minWidth]="150" [resizeable]="true" prop="view_investigation_status">
          <ng-template let-column="column" ngx-datatable-header-template>View Investigation
            <!-- <ion-icon class="view"slot="icon-only" name="view-outline"></ion-icon> -->
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon [disabled]="value" class="view" slot="icon-only" (click)="onViewInvestigation()"
              name="eye-outline"></ion-icon>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [minWidth]="50" [resizeable]="true" prop="actions_status">
          <ng-template let-column="column" ngx-datatable-header-template>Actions</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon [disabled]="value" class="view" slot="icon-only" name="create-outline" (click)="onGoToActions()">
            </ion-icon>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [minWidth]="50" [resizeable]="true" prop="view_actions_status">
          <ng-template let-column="column" ngx-datatable-header-template> View Actions </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-icon [disabled]="value" class="view" (click)="onViewAction()" slot="icon-only" name="eye-outline">
            </ion-icon>
          </ng-template>
        </ngx-datatable-column>

        <!-- </ng-template> -->

      </ngx-datatable>

    </div>
  </div>
</ion-content>