<ion-content>
  <div class="toolbar">
    <ion-text>login</ion-text>
  </div>
  <div class="container">
    <div class="ion-text-center logo">
      <img src="{{imageUrl + 'login.png'}}" />
    </div>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <div class="ion-margin-top ion-margin-bottom ">

        <ion-item class="ion-no-padding" lines="none">
          <ion-label position="stacked">Mail Id</ion-label>
          <ion-input placeholder="Enter Mail Id" formControlName="email" required type="email"> </ion-input>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please provide valid email id.
        </span>

        <ion-item class="ion-no-padding" lines="none">
          <ion-label position="stacked">Password</ion-label>
          <ion-input placeholder="Enter Password" formControlName="password" required type="password"> </ion-input>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          password is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
          Password must be at least 6 characters.
        </span>

      </div>
      <ion-button class="btn" type="submit">
        Login
      </ion-button>
    </form>
  </div>
</ion-content>