<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">
    <ion-card>
      <ion-card-content>

        <ion-row>
          <ion-col size="6">
            <ion-label>Verification of Competency :</ion-label>
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label>Telehandler Number :</ion-label>
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label>Hour / Meter :</ion-label>
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Data plate attached and legible :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Engine Oil Level :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Hydraulic Oil :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Fuel Level :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Verify Equipment Inspections are Current :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Coolant Level :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Belts and Hoses :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Wheels, Tyres and nuts :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Fire-Extinguisher :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Fuel Flash Screen: in Place :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Hydraulics Functional and No Leaks :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Boom, Lift Arms, Extending Structure :</ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Comment : </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Images : </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
            <ion-col size="12">
              <ion-text>No Images found.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place / Correctly Tensioned </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Chain and Hose Guards :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place / Correctly Tensioned </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Chain and Hose Guards :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Mast Cap Bolts :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place and secure </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Safety Stops and Latches :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Forks :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Condition / Tips Even</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Overhead Guards :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>In place / Condition</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Counterweight / Counterweight bolts :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Condition / Leaks</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-text>
                  Engine Bay Components :
                </ion-text>
              </ion-label>
            </ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text>
                <ion-label>Comment : </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label></ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-text>
                <ion-label>Images : </ion-label>
              </ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-label>
                <ion-text>
                  No Images found
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Operating</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Horn :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Audible, Visual Warning Devices :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Headlights :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Turn Signals :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Warning / Brake Lights :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Foot Brake :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Foot Brake :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Pedal Holds / Smooth Stop</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Parking Brake :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Holds against Accelerator</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Clutch / Gear Shift :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Smooth operation</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Engine Noise :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Fluid Leaks :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Sounds Normal</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Dash Gauges :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    Operational Controls :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-grid lines="none">
          <ion-row>
            <ion-col size="6">
              <ion-label>Under truck and Near Hoses</ion-label>
            </ion-col>
          </ion-row>

          <ion-grid lines="none">
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    First Aid Kit :
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  <ion-label>Comment : </ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>
                  <ion-label>Images : </ion-label>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <ion-text>
                    No Images found
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- <ion-slides [options]="sliderOpts" class="preview-slides">
                <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
                  <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
                </ion-slide>
              </ion-slides> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>

        <ion-row>
          <ion-col size="6">
            <ion-label>Comment :
            </ion-label>
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>