<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">
    <ion-row>
      <ion-col size-lg="3" size-md="3"></ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xl="6" size-xs="12">
        <div class="btnView">
          <ion-button class="btn" *ngFor="let tabVal of menu" [routerLink]="tabVal.route">
            {{tabVal.menuName}}
          </ion-button>
        </div>
      </ion-col>
      <ion-col size-lg="3" size-md="3"></ion-col>
    </ion-row>
  </div>
</ion-content>