<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="toolbar">
      <ion-text>ADD FORM</ion-text>
      <ion-buttons class="back">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons class='saveBtn' (click)="saveItemOffline()">
        <ion-button>
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="headerStyle"></div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <p>ReacIncident report</p>
  </div>
  <div class="ion-padding-start ion-padding-end">
    <div *ngFor="let item of data">
      <ion-button class="inci" *ngIf="selected!==item" (click)="checkDetails(item)">
        <p>{{item}}</p>
        <img class="plus" src="./assets/add.png" />
      </ion-button>
      <div *ngIf="selected==item && selected=='Incident'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-radio-group [(ngModel)]="incedent">
          <ion-row>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Actual</ion-label>
                <ion-radio slot="start" value="Actual"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Near Miss</ion-label>
                <ion-radio slot="start" value="Near Miss"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item class="ra" lines="none">
                <ion-label>Serious potential incident (SPI)</ion-label>
                <ion-radio slot="start" value="Serious potential incident (SPI)"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div *ngIf="incedent == 'Near Miss'">
          <p class="question">Who witnessed the near miss?</p>
          <ion-item class="ra" lines="none">
            <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="whoWitnessedNearThis">
              <ion-select-option value="{{item?.name_of_witness}}" *ngFor="let item of witnessList">
                {{item?.name_of_witness}}</ion-select-option>
            </ion-select>
          </ion-item>
          <p class="question">
            Possible consequence under different circumstances
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="possibleConsequence"></ion-input>
        </div>
      </div>
      <!-------------------------------------------------Classification---------------------------------------------->
      <div *ngIf="selected==item && selected=='Classification'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-list class="ion-no-padding">
          
          <ion-row class='ion-no-padding'>
            <ion-col size="6" *ngFor="let entry of classificationChekBox">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>{{entry.val}}</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- <ion-radio-group (ionChange)="onClassificationRadio($event)">
            <ion-row>
              <ion-col size="6" *ngFor="let entry of classificationChekBox">
                <ion-item class="ra" lines="none">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-radio slot="start" value="{{entry.val}}"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group> -->

        </ion-list>
        <ion-item class="ra" lines="none">
          <ion-label position="floating">Date of Incident</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" (ionChange)="dateSelect($event,'incident')"
            [(ngModel)]="selectedDate">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Time of Incident</ion-label>
          <ion-datetime displayFormat="hh:mm A" placeholder="Select Time"
            (ionChange)="timeSelect($event,'timeIncident')" [(ngModel)]="selectedTime">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Date Reported</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" (ionChange)="dateSelect($event,'reported')"
            [(ngModel)]="selectedDateReported">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Time Reported</ion-label>
          <ion-datetime displayFormat="hh:mm A" placeholder="Select Time"
            (ionChange)="timeSelect($event,'timeReported')" [(ngModel)]="selectedTimeReported">
          </ion-datetime>
        </ion-item>
        <ion-radio-group [(ngModel)]="location">
          <ion-row>
            <ion-col size="12">
              <ion-item class="ra" lines="none">
                <ion-label>Add Location</ion-label>
                <ion-radio slot="start" value="Add Location"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item class="ra" lines="none">
                <ion-label>Choose Location</ion-label>
                <ion-radio slot="start" value="Choose Location"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="location=='Add Location'">
          <p class="question">Add Location</p>
          <ion-input placeholder="Please add the location" [(ngModel)]="addLocation"></ion-input>
        </div>
        <div *ngIf="location == 'Choose Location'">
          <p class="question">Choose Location</p>
          <ion-item class="ra" lines="none">
            <ion-select placeholder="Select Location" interface="action-sheet" [(ngModel)]="locationSelection">
              <ion-select-option value="{{item?.location_name}}" *ngFor="let item of locationList">
                {{item?.location_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <ion-item class="ra" lines="none">
          <ion-select placeholder="Shift Type" interface="action-sheet" [(ngModel)]='shiftType'>
            <ion-select-option value="{{item?.shift_type}}" *ngFor="let item of shiftTypeList">{{item?.shift_type}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ra" lines="none">
          <ion-select placeholder="Supervisor" interface="action-sheet" [(ngModel)]="superVisor">
            <ion-select-option value="{{item?.full_name}}" *ngFor="let item of superVisorList">{{item?.full_name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ra" lines="none">
          <ion-label class="labelCustomDropDown">{{nameOfManager}}</ion-label>
          <ion-buttons slot="end" class="ion-no-padding ion-no-margin">
            <ion-button class="ion-no-padding ion-no-margin" (click)="openModal()">
              <ion-icon name="chevron-down" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>
      <!-------------------------------------------------Classification---------------------------------------------->
      <!-------------------------------------------------Photography------------------------------------------------->
      <div *ngIf="selected==item && selected=='Photography'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <div *ngIf="platformCheck === 'cordova'">
          <ion-button class="camera" expand="block" (click)="selectImage(1)">Upload Image</ion-button>
          <img src="{{imagePath}}" class="img-responsive" *ngIf="imagePath!==''" />
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input type='file' (change)="onSelectFile($event,1)">
          <div class="ion-text-center">
            <img [src]="imagePath" height="200" class="img-responsive" *ngIf="imagePath!==''"> <br />
          </div>
        </div>
      </div>
      <!-------------------------------------------------Photography-------------------------------------------------->
      <!-------------------------------------------------Incident Description----------------------------------------->
      <div *ngIf="selected==item && selected=='Incident Description'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Description of incident ( note : You must not use any personal details
          or names)
        </p>
        <ion-input placeholder="Description of incident" [(ngModel)]="descriptionIncident"></ion-input>
        <p class="question">Immediate action taken</p>
        <ion-input placeholder="Immediate action taken" [(ngModel)]="immediateAction"></ion-input>
        <!-- <ion-list>
          <ion-item class="ra ion-no-padding" lines="none">
            <ion-label>Insert Photo</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="insertPhotoisChecked"></ion-checkbox>
          </ion-item>
        </ion-list> -->

        <p class="question">Was there any Witnesses of the incident</p>
        <ion-input placeholder="Witnesses of the incident" [(ngModel)]="wasThereAnyWitnessOfIncident"></ion-input>
        <!-- <div *ngIf="platformCheck === 'cordova'">
        <ion-button *ngIf="insertPhotoisChecked" class="camera" expand="block" (click)="selectImage(2)">Upload Image
        </ion-button>
        <img src="{{imagePath2}}" *ngIf="imagePath2!==''" class="img-responsive"/>
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input *ngIf="insertPhotoisChecked" type='file' (change)="onSelectFile($event,2)">
          <div class="ion-text-center">
            <img [src]="imagePath2" height="200" class="img-responsive" *ngIf="imagePath2!==''"> <br />
          </div>
        </div> -->
        <ion-radio-group [(ngModel)]="alcoholTest">
          <ion-item class="ra" lines="none">
            <ion-label>Alcohol test completed</ion-label>
          </ion-item>
          <ion-row>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Not Required</ion-label>
                <ion-radio slot="start" value="Not Required"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="platformCheck === 'cordova'">
          <ion-button *ngIf="alcoholTest=='Yes'" class="camera" expand="block" (click)="selectImage(2)">Upload Image
          </ion-button>
          <img src="{{imagePath2}}" *ngIf="imagePath2!==''" class="img-responsive" />
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input *ngIf="alcoholTest=='Yes'" type='file' (change)="onSelectFile($event,2)">
          <div class="ion-text-center">
            <img [src]="imagePath2" height="200" class="img-responsive" *ngIf="imagePath2!==''"> <br />
          </div>
        </div>
        <ion-radio-group [(ngModel)]="drugTest">
          <ion-item class="ra" lines="none">
            <ion-label>Drug test completed</ion-label>
          </ion-item>
          <ion-row>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Not Required</ion-label>
                <ion-radio slot="start" value="Not Required"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div *ngIf="platformCheck === 'cordova'">
          <ion-button *ngIf="drugTest=='Yes'" class="camera" expand="block" (click)="selectImage(6)">Upload Image
          </ion-button>
          <img src="{{drugImage}}" *ngIf="drugImage!==''" class="img-responsive" />
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input *ngIf="drugTest=='Yes'" type='file' (change)="onSelectFile($event,6)">
          <div class="ion-text-center">
            <img [src]="drugImage" height="200" class="img-responsive" *ngIf="drugImage!==''"> <br />
          </div>
        </div>

      </div>
      <!-------------------------------------------------Incident Description----------------------------------------->
      <!-------------------------------------------------Injury------------------------------------------------------->
      <div *ngIf="selected==item && selected=='Injury'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-radio-group [(ngModel)]="formCount" (ionChange)="itemsChangeForm($event)">
          <ion-row>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>1</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>2</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>3</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>4</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <ion-card *ngIf="itemsArray.length>=1">
          <div class="headerTitle">
            <p class="questionHead">Person 1 Details</p>
          </div>
          <p class="question">Full Name of Injured Person</p>
          <ion-item class="ra">
            <ion-select placeholder="Select One" interface="action-sheet"
              [(ngModel)]="person_one_details.fullNameOfInjuredPerson">
              <ion-select-option value="{{item?.name_of_witness}}" *ngFor="let item of witnessList">
                {{item?.name_of_witness}}
              </ion-select-option>

            </ion-select>
          </ion-item>
          <div *ngIf='person_one_details.fullNameOfInjuredPerson=="Other"'>
            <p class="question">Full name of Injured Person</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_one_details.other_name"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="person_one_details.gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-no-padding ra" mode="ios">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="person_one_details.dateOfBirth">
            </ion-datetime>
          </ion-item>
          <ion-radio-group [(ngModel)]="person_one_details.returnToNormalDuties">
            <ion-item class="ra" lines="none">
              <ion-label>Return to Normal Duties</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <div *ngIf="person_one_details.returnToNormalDuties === 'No'">
            <p class="question">Explanation:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="normalDutiesExplanation"> </ion-input>
          </div>
          <div>
            <ion-radio-group [(ngModel)]="person_one_details.returnToAlernateDuties">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Return to Alternate Duties</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_one_details.returnToAlernateDuties==='No'">
            <p class="question">Explanation:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_one_details.explanation"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Initial Injury / IIIness Classification</ion-label>
          </ion-item>
          <ion-list class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of person_one_details.injurryCheckBox">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>

          <div>
            <p class="question">Part of body injury occurred:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_one_details.partOfBodyInjured"></ion-input>
          </div>

          <div>
            <ion-radio-group [(ngModel)]="person_one_details.immediateTreatment">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Was immediate treatment given;</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>

          <div *ngIf="person_one_details.immediateTreatment == 'Yes'">
            <p class="question">Explain</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_one_details.immediateTreatmentGivenExplanation">
            </ion-input>
          </div>

          <div *ngIf="person_one_details.immediateTreatment == 'Yes'">
            <p class="question">Who administered treatment : </p>
            <div>
              <p class="question">Person Name</p>
              <ion-input placeholder="Person Name" [(ngModel)]="person_one_details.administeredPersonName"></ion-input>
            </div>
            <div>
              <p class="question">Number</p>
              <ion-input placeholder="Person Number" type="tel"
                [(ngModel)]="person_one_details.adminsteredPersonNumber"></ion-input>
            </div>
          </div>

          <img class="img-responsive" src="./assets/person.jpg">
        </ion-card>
        <ion-card *ngIf="itemsArray.length>=2">
          <div class="headerTitle">
            <p class="questionHead">Person 2 Details</p>
          </div>
          <p class="question">Full Name of Injured Person</p>
          <ion-item class="ra">
            <ion-select placeholder="Select One" interface="action-sheet"
              [(ngModel)]="person_two_details.fullNameOfInjuredPerson">
              <ion-select-option value="{{item?.name_of_witness}}" *ngFor="let item of witnessList">
                {{item?.name_of_witness}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf='person_two_details.fullNameOfInjuredPerson=="Other"'>
            <p class="question">Full name of Injured Person</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_two_details.other_name"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="person_two_details.gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-no-padding ra">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="person_two_details.dateOfBirth">
            </ion-datetime>
          </ion-item>
          <ion-radio-group [(ngModel)]="person_two_details.returnToNormalDuties">
            <ion-item class="ra" lines="none">
              <ion-label>Return to Normal Duties</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <div *ngIf="person_two_details.returnToNormalDuties === 'No'">
            <ion-radio-group [(ngModel)]="person_two_details.returnToAlernateDuties">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Return to Alternate Duties</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_two_details.returnToAlernateDuties==='No'">
            <p class="question">Explanation:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_two_details.explanation"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Initial Injury / IIIness Classification</ion-label>
          </ion-item>
          <ion-list class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of person_two_details.injurryCheckBox">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <div>
            <p class="question">Part of body injury occurred:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_two_details.partOfBodyInjured"></ion-input>
          </div>
          <div>
            <ion-radio-group [(ngModel)]="person_two_details.immediateTreatment">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Was immediate treatment given;</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_two_details.immediateTreatment == 'Yes'">
            <p class="question">Explain</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_two_details.immediateTreatmentGivenExplanation">
            </ion-input>
          </div>
          <div *ngIf="person_two_details.immediateTreatment == 'Yes'">
            <p class="question">Who administered treatment : </p>
            <div>
              <p class="question">Person Name</p>
              <ion-input placeholder="Person Name" [(ngModel)]="person_two_details.administeredPersonName"></ion-input>
            </div>
            <div>
              <p class="question">Number</p>
              <ion-input placeholder="Person Number" type="tel"
                [(ngModel)]="person_two_details.adminsteredPersonNumber"></ion-input>
            </div>
          </div>
          <img src="./assets/person.jpg" class="img-responsive">
        </ion-card>
        <ion-card *ngIf="itemsArray.length>=3">
          <div class="headerTitle">
            <p class="questionHead">Person 3 Details</p>
          </div>
          <p class="question">Full Name of Injured Person</p>
          <ion-item class="ra">
            <ion-select placeholder="Select One" interface="action-sheet"
              [(ngModel)]="person_three_details.fullNameOfInjuredPerson">
              <ion-select-option value="{{item?.name_of_witness}}" *ngFor="let item of witnessList">
                {{item?.name_of_witness}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf='person_three_details.fullNameOfInjuredPerson=="Other"'>
            <p class="question">Full name of Injured Person</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_three_details.other_name"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="person_three_details.gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-no-padding ra">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="person_three_details.dateOfBirth">
            </ion-datetime>
          </ion-item>
          <ion-radio-group [(ngModel)]="person_three_details.returnToNormalDuties">
            <ion-item class="ra" lines="none">
              <ion-label>Return to Normal Duties</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <div *ngIf="person_three_details.returnToNormalDuties === 'No'">
            <ion-radio-group [(ngModel)]="person_three_details.returnToAlernateDuties">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Return to Alternate Duties</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_three_details.returnToAlernateDuties==='No'">
            <p class="question">Explanation:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_three_details.explanation"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Initial Injury / IIIness Classification</ion-label>
          </ion-item>
          <ion-list class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of person_three_details.injurryCheckBox">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>

          <div>
            <p class="question">Part of body injury occurred:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_three_details.partOfBodyInjured"></ion-input>
          </div>

          <div>
            <ion-radio-group [(ngModel)]="person_three_details.immediateTreatment">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Was immediate treatment given;</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_three_details.immediateTreatment == 'Yes'">
            <p class="question">Explain</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_three_details.immediateTreatmentGivenExplanation">
            </ion-input>
          </div>
          <div *ngIf="person_three_details.immediateTreatment == 'Yes'">
            <p class="question">Who administered treatment : </p>
            <div>
              <p class="question">Person Name</p>
              <ion-input placeholder="Person Name" [(ngModel)]="person_three_details.administeredPersonName">
              </ion-input>
            </div>
            <div>
              <p class="question">Number</p>
              <ion-input placeholder="Person Number" type="tel"
                [(ngModel)]="person_three_details.adminsteredPersonNumber"></ion-input>
            </div>
          </div>
          <img src="./assets/person.jpg" class="img-responsive">
        </ion-card>
        <ion-card *ngIf="itemsArray.length>=4">
          <div class="headerTitle">
            <p class="questionHead">Person 4 Details</p>
          </div>
          <p class="question">Full Name of Injured Person</p>
          <ion-item class="ra">
            <ion-select placeholder="Select One" interface="action-sheet"
              [(ngModel)]="person_four_details.fullNameOfInjuredPerson">
              <ion-select-option value="{{item?.name_of_witness}}" *ngFor="let item of witnessList">
                {{item?.name_of_witness}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf='person_four_details.fullNameOfInjuredPerson=="Other"'>
            <p class="question">Full name of Injured Person</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_four_details.other_name"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="person_four_details.gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-no-padding ra">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="person_four_details.dateOfBirth">
            </ion-datetime>
          </ion-item>
          <ion-radio-group [(ngModel)]="person_four_details.returnToNormalDuties">
            <ion-item class="ra" lines="none">
              <ion-label>Return to Normal Duties</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <div *ngIf="person_four_details.returnToNormalDuties === 'No'">
            <ion-radio-group [(ngModel)]="person_four_details.returnToAlernateDuties">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Return to Alternate Duties</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
          <div *ngIf="person_four_details.returnToAlernateDuties==='No'">
            <p class="question">Explanation:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_four_details.explanation"></ion-input>
          </div>
          <ion-item class="ra">
            <ion-label>Initial Injury / IIIness Classification</ion-label>
          </ion-item>
          <ion-list class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of person_four_details.injurryCheckBox">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <div>
            <p class="question">Part of body injury occurred:</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_four_details.partOfBodyInjured"></ion-input>
          </div>

          <div>
            <ion-radio-group [(ngModel)]="person_four_details.immediateTreatment">
              <ion-row>
                <ion-col size="12">
                  <ion-item class="ra" lines="none">
                    <ion-label>Was immediate treatment given;</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ra" lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>

          <div *ngIf="person_four_details.immediateTreatment == 'Yes'">
            <p class="question">Explain</p>
            <ion-input placeholder="Enter here" [(ngModel)]="person_four_details.immediateTreatmentGivenExplanation">
            </ion-input>
          </div>

          <div *ngIf="person_four_details.immediateTreatment == 'Yes'">
            <p class="question">Who administered treatment : </p>
            <div>
              <p class="question">Person Name</p>
              <ion-input placeholder="Person Name" [(ngModel)]="person_four_details.administeredPersonName"></ion-input>
            </div>
            <div>
              <p class="question">Number</p>
              <ion-input placeholder="Person Number" type="tel"
                [(ngModel)]="person_four_details.adminsteredPersonNumber"></ion-input>
            </div>
          </div>


          <img src="./assets/person.jpg" class="img-responsive">
        </ion-card>
      </div>
      <!-------------------------------------------------Injury------------------------------------------------------->
      <!-------------------------------------------------Environmental------------------------------------------------>
      <div *ngIf="selected==item && selected=='Environmental'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Immediate action taken to minimize Environmental impact
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="environmentActionTaken"></ion-input>

        <ion-radio-group [(ngModel)]="chemicalSplit">
          <ion-item class="ra" lines="none">
            <ion-label>Was a chemical split?</ion-label>
          </ion-item>
          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="chemicalSplit==='Yes'">
          <p class="question">
            Name of chemical
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="nameOfChemical"></ion-input>
          <ion-list>
            <ion-item class="ra ion-no-padding" lines="none">
              <ion-label>Insert Photo</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="insertPhotoisChecked"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div *ngIf="platformCheck==='cordova'">
            <div *ngIf="insertPhotoisChecked">
              <ion-button *ngIf="insertPhotoisChecked" class="camera" expand="block" (click)="selectImage(3)">Upload
                Image
              </ion-button>
              <img src="{{imagePath3}}" *ngIf="imagePath3!==''" class="img-responsive" />
            </div>
          </div>
          <div *ngIf="platformCheck !== 'cordova'">
            <input *ngIf="insertPhotoisChecked" type='file' (change)="onSelectFile($event,3)">
            <div class="ion-text-center">
              <img [src]="imagePath3" height="200" class="img-responsive" *ngIf="imagePath3!==''"> <br />
            </div>
          </div>
          <p class="question">
            Approximate quantity of chemical spilled
          </p>
          <ion-input placeholder="Enter here" type="tel" [(ngModel)]="approximateQtyofChemical"></ion-input>
        </div>

        <ion-radio-group [(ngModel)]="emergencySpill">
          <ion-item class="ra" lines="none">
            <ion-label>Was the emergency spill kit used?</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </div>
      <!-------------------------------------------------Environmental------------------------------------------------>
      <!-------------------------------------------------Reputation--------------------------------------------------->
      <div *ngIf="selected==item && selected=='Reputation'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-item class="ra" lines="none">
          <ion-label>Was the reputation damages an individual or Company ?
          </ion-label>
        </ion-item>
        <ion-list class="ion-no-padding">
          <ion-item *ngFor="let entry of reputationCheckBox" lines="none" class="ion-no-padding">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)="reputationCheckboxEvent($event,entry)">
            </ion-checkbox>
          </ion-item>
        </ion-list>
        <div *ngIf="individualChecked">
          <p class="question">
            How has the Individual's reputation been damaged?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="individualReputationDamaged"></ion-input>
        </div>
        <div *ngIf="companyChecked">
          <p class="question">
            How has the Company's reputation been damaged?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="companyReputatonDamaged"></ion-input>
        </div>
        <ion-radio-group [(ngModel)]="nagativeEffetct">
          <ion-item class="ra" lines="none">
            <ion-label>Was the negative effect internal or external</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Internal</ion-label>
                <ion-radio slot="start" value="Internal"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>External</ion-label>
                <ion-radio slot="start" value="External"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Both</ion-label>
                <ion-radio slot="start" value="Both"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <p class="question">
          Name of any witness
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="nameOfAnyWitness"></ion-input>
        <!-- 
        <p class="question">
          Contact of any witness
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="contactOfAnyWitness"></ion-input> -->


        <p class="question">
          What is the possible outcome of this incident?
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="possibleOutcomeOfIncident"></ion-input>
        <!-- <p class="question">
          Upload evidence of the Reputation damage
        </p>
        <div *ngIf="platformCheck === 'cordova'">
        <ion-button class="camera" expand="block" (click)="selectImage(4)">Upload Image</ion-button>
        <img src="{{imagePath4}}" *ngIf="imagePath4!==''" class="img-responsive" />
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input type='file' (change)="onSelectFile($event,4)">
          <div class="ion-text-center">
            <img [src]="imagePath4" height="200" class="img-responsive" *ngIf="imagePath4!==''"> <br />
          </div>
        </div> -->
      </div>
      <!-------------------------------------------------Reputation--------------------------------------------------->
      <!-------------------------------------------------Security----------------------------------------------------->
      <div *ngIf="selected==item && selected=='Security'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <ion-radio-group [(ngModel)]="securityRadio">
          <ion-row class="ion-no-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>IT</ion-label>
                <ion-radio slot="start" value="IT"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Theft</ion-label>
                <ion-radio slot="start" value="Theft"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Other</ion-label>
                <ion-radio slot="start" value="Other"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="securityRadio=='IT'">
          <ion-list class="ion-no-padding">
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>What kind of IT Security Incident ?</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let entry of itsecurityCheckbox">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>
        <div *ngIf="securityRadio=='Theft'">
          <p class="question">
            What has been stolen ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="stolenItem"></ion-input>

          <p class="question">
            Approximate value of stolen item ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]="approximateValueOfStolen"></ion-input>

          <p class="question">
            What is the specific Security incident ?
          </p>
          <ion-input placeholder="Enter here" [(ngModel)]='specificSecurityIncident'></ion-input>
        </div>
      </div>
      <!-------------------------------------------------Security----------------------------------------------------->
      <!-------------------------------------------------Asset-------------------------------------------------------->
      <div *ngIf="selected==item && selected=='Asset'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          Asset description
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="assetDescription"></ion-input>
        <ion-radio-group [(ngModel)]="assetNumber">
          <ion-item class="ra" lines="none">
            <ion-label>Does Asset have a number</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="assetNumber=='Yes'">
          <p class="question">
            Asset Number
          </p>
          <ion-input placeholder="Enter here" type="tel" [(ngModel)]="assetsNumbers"></ion-input>
        </div>
        <p class="question">
          Extent of Damage
        </p>
        <ion-input placeholder="Extent of Damage" [(ngModel)]="extentOfDamage"></ion-input>
        <p class="question">
          Upload photo of damage
        </p>
        <div *ngIf="platformCheck === 'cordova'">
          <ion-button class="camera" expand="block" (click)="selectImage(5)">Upload Image</ion-button>
          <img src="{{imagePath5}}" *ngIf="imagePath5!==''" class="img-responsive" />
        </div>
        <div *ngIf="platformCheck !== 'cordova'">
          <input type='file' (change)="onSelectFile($event,5)">
          <div class="ion-text-center">
            <img [src]="imagePath5" height="200" class="img-responsive" *ngIf="imagePath5!==''"> <br />
          </div>
        </div>
      </div>
      <!-------------------------------------------------Asset-------------------------------------------------------->
      <!-------------------------------------------------Report------------------------------------------------------->

      <div *ngIf="selected==item && selected=='Report'" class="activeBackground">
        <div class="headerTitle">
          <p>{{item}}</p>
          <img (click)="deSelect(item)" class="plus" src="./assets/minus.png" />
        </div>
        <hr />
        <p class="question">
          What could have done differently?
        </p>
        <ion-input placeholder="Enter here" [(ngModel)]="doneDifferently" (ionChange)="inputChange($event)"></ion-input>
      </div>
      <!-------------------------------------------------Report------------------------------------------------------->
    </div>
  </div>
  <ion-button (click)="onSubmit()" expand="full" class="btnSubmit">SUBMIT</ion-button>
</ion-content>