<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">
    <span *ngFor="let tabVal of sharedService.prestartMenu">
      <ion-button class="btn" *ngIf="tabVal.favorite == true">
        <ion-row>
          <ion-col size-lg="10" size-md="10" size-sm="10" size-xl="10" size-xs="10" [routerLink]="tabVal.route">
            {{tabVal.menuName}}
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="2" size-xl="2" size-xs="2" title="Remove from favourite"
            (click)="onRemoveFavourite(tabVal.menuName)">
            <ion-icon name="heart" class="favoirte"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-button>
    </span>
  </div>
</ion-content>