<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="toolbar">
      <ion-text>Edit Incident Form</ion-text>
      <ion-buttons class="back">
        <ion-button (click)="nav.back()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons class='saveBtn' (click)="onSubmit('incomplete_submit')">
        <ion-button>
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="headerStyle"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>ReacIncident report</p>
  </div>

  <div class="ion-padding-start ion-padding-end">
    <div *ngFor="let tabItem of tabList">
      <ion-button class="inci" *ngIf="selectedTabItem != tabItem.val" (click)="onSelectTabItem(tabItem.val)"
        [disabled]="tabItem.tabDisable">
        <p>{{tabItem.val}} </p>
        <img class="plus" src="{{imagePath+'add.png'}}" />
      </ion-button>

      <!-------------------------------------------------Incident---------------------------------------------->
      <div *ngIf="selectedTabItem==tabItem.val && selectedTabItem =='Incident'" class="activeBackground">
        <div class="headerTitle">
          <p>{{tabItem.val}}</p>
          <img (click)="onDeSelectTabItem(tabItem.val)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <div [formGroup]="incidentForm">
          <ion-radio-group formControlName="incident_value" (ionChange)="onInput($event,'Incident')">
            <ion-row>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Actual</ion-label>
                  <ion-radio slot="start" value="Actual"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Near Miss</ion-label>
                  <ion-radio slot="start" value="Near Miss"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item class="ra" lines="none">
                  <ion-label>Serious potential incident (SPI)</ion-label>
                  <ion-radio slot="start" value="Serious potential incident (SPI)"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <div *ngIf="incidentForm.value['incident_value'] == 'Near Miss'">
            <p class="question">Who witnessed the near miss ? :</p>
            <ion-item class="ra" lines="none">
              <ion-select placeholder="Select One" formControlName="incident_near_miss">
                <ion-select-option value="{{witnesskeys?.name_of_witness}}" *ngFor="let witnesskeys of witnessList">
                  {{witnesskeys?.name_of_witness}}</ion-select-option>
              </ion-select>
            </ion-item>
            <p class="question">
              Possible consequence under different circumstances :
            </p>
            <ion-input placeholder="Enter here" formControlName="incident_near_miss_other"></ion-input>
          </div>
        </div>
      </div>
      <!-------------------------------------------------Incident---------------------------------------------->

      <!-------------------------------------------------Photography------------------------------------------------->
      <div *ngIf="selectedTabItem==tabItem.val  && selectedTabItem=='Photography'" class="activeBackground"
        [formGroup]="photoGraphyForm">
        <div class="headerTitle">
          <p>{{tabItem.val }}</p>
          <img (click)="onDeSelectTabItem(tabItem.val )" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <div *ngIf="platformCheck === 'cordova'">
          <ion-button class="camera" expand="block" (click)="onPhotoGraphy($event, 1)">Upload Image</ion-button>
        </div>
        <div *ngIf="platformCheck === 'browser'">
          <input type='file' value="photography_image" multiple (change)="onPhotoGraphy($event, 2)">
          <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="photoGraphy.length > 0">
            <ion-slide *ngFor="let photography_image of photoGraphy">
              <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
            </ion-slide>
          </ion-slides>
        </div>
      </div>
      <!-------------------------------------------------Photography-------------------------------------------------->


      <!-------------------------------------------------Incident Description----------------------------------------->

      <div *ngIf="selectedTabItem==tabItem.val  && selectedTabItem=='Incident Description'" class="activeBackground">
        <div class="headerTitle">
          <p>{{tabItem.val }}</p>
          <img (click)="onDeSelectTabItem(tabItem.val )" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <div [formGroup]="incidentDesForm">
          <p class="question"> Description of incident : </p>
          <ion-text class="mandatoryField">( Note : You must not use any personal details or names)</ion-text>
          <ion-input placeholder="Description of incident" formControlName="incident_description"
            (ionChange)="onInput($event,'Incident Description')"></ion-input>
          <p class="question">Immediate action taken :</p>
          <ion-input placeholder="Immediate action taken" formControlName="incident_description_action"
            (ionChange)="onInput($event,'Incident Description')"></ion-input>

          <p class="question">What could have been done differently ? :</p>
          <ion-input placeholder="What could have been done differently?" formControlName="seen_differently">
          </ion-input>

          <p class="question">Was there any Witnesses of the incident ? :</p>
          <ion-input placeholder="Witnesses of the incident" formControlName="was_there_any_witness_of_the_incident">
          </ion-input>

          <!----------------------------------------------- Alcohal Test -------------------------------------------------------->
          <ion-radio-group formControlName="incident_description_alcohol_test"
            (ionChange)="onAlcohalTestSelect($event)">
            <ion-item class="ra" lines="none">
              <ion-label>Alcohol test completed :</ion-label>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Not Required</ion-label>
                  <ion-radio slot="start" value="Not Required"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <div *ngIf="incidentDesForm.value['incident_description_alcohol_test']=='Yes'">
            <div *ngIf="platformCheck === 'cordova'">
              <ion-button *ngIf="incidentDesForm.value['incident_description_alcohol_test']=='Yes'" class="camera"
                expand="block" (click)="selectImage(2)">Upload Image
              </ion-button>
              <img src="" *ngIf="incidentDesForm.value['incident_description_alcohol_test']=='Yes'"
                class="img-responsive" />
            </div>

            <div *ngIf="platformCheck === 'browser'">
              <input type='file' value="incident_description_photo" multiple (change)="onAlochaolImage($event)">
              <!-- <div class="ion-text-center" *ngIf="alcohalImages.length > 0">
                <div *ngFor="let alcohalImage of alcohalImages">
                  <img [src]="alcohalImage" height="100" class="img-responsive"> <br />
                </div>
              </div> -->
              <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="alcohalImages.length > 0">
                <ion-slide *ngFor="let alcohalImage of alcohalImages">
                  <img [src]="alcohalImage" tappable (click)="onOpenPreview(alcohalImage)">
                </ion-slide>
              </ion-slides>
            </div>
          </div>
          <!----------------------------------------------- Alcohal Test -------------------------------------------------------->


          <!----------------------------------------------- Drug Test -------------------------------------------------------->

          <ion-radio-group formControlName="drug_test_completed" (ionChange)="onDrugTestSelect($event)">
            <ion-item class="ra" lines="none">
              <ion-label>Drug test completed :</ion-label>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Not Required</ion-label>
                  <ion-radio slot="start" value="Not Required"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <div *ngIf="incidentDesForm.value['drug_test_completed']=='Yes'">
            <div *ngIf="platformCheck === 'cordova'">
              <ion-button *ngIf="incidentDesForm.value['drug_test_completed']=='Yes'" class="camera" expand="block"
                (click)="selectImage(6)">Upload Image
              </ion-button>
              <img src="" *ngIf="incidentDesForm.value['drug_test_completed']=='Yes'" class="img-responsive" />
            </div>

            <div *ngIf="platformCheck === 'browser'">
              <input type='file' value="drug_test_image" multiple (change)="onDrugTestImage($event)">

              <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="drugTestImages.length > 0">
                <ion-slide *ngFor="let drugTestImage of drugTestImages">
                  <img [src]="drugTestImage" tappable (click)="onOpenPreview(drugTestImage)">
                </ion-slide>
              </ion-slides>
              <!-- <div class="ion-text-center" *ngIf="drugTestImages.length > 0">
                <div *ngFor="let drugTestImage of drugTestImages">
                  <img [src]="drugTestImage" height="100" class="img-responsive"> <br />
                </div>
              </div> -->
            </div>
          </div>

          <!----------------------------------------------- Drug Test -------------------------------------------------------->


          <!----------------------------------------------- Return to Alternate Duties -------------------------------------------------------->

          <ion-radio-group formControlName="return_to_alternate_duties" (ionChange)="onReturnToDutySelect($event)">
            <ion-item class="ra" lines="none">
              <ion-label>Return to Alternate Duties :</ion-label>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="Yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="ra" lines="none">
                  <ion-label>Not Required</ion-label>
                  <ion-radio slot="start" value="Not Required"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <div *ngIf="incidentDesForm.value['return_to_alternate_duties']=='Yes'">
            <ion-text class="mandatoryField">* Please take a photo or upload the Cerificate of Copacity (COC).
            </ion-text>
            <div *ngIf=" platformCheck==='cordova'">
              <ion-button *ngIf=" returnToAlternateDuties=='Yes'" class=" camera" expand="block"
                (click)="selectImage(7)">
                Upload Image
              </ion-button>
              <img src="" *ngIf="incidentDesForm.value['return_to_alternate_duties']=='Yes'" class="img-responsive" />
            </div>

            <div *ngIf="platformCheck === 'browser'">
              <input type='file' value="return_to_alternate_duties_image" multiple class="uploadFile"
                (change)="onReturnToDutyImage($event)">

              <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="alterDutyImages.length > 0">
                <ion-slide *ngFor="let returnToAlterDutyImage of alterDutyImages">
                  <img [src]="returnToAlterDutyImage" tappable (click)="onOpenPreview(returnToAlterDutyImage)">
                </ion-slide>
              </ion-slides>
            </div>

          </div>
          <!----------------------------------------------- Return to Alternate Duties -------------------------------------------------------->
        </div>
      </div>

      <!-------------------------------------------------Incident Description----------------------------------------->


      <!-------------------------------------------------Classification---------------------------------------------->

      <div *ngIf="selectedTabItem==tabItem.val  && selectedTabItem =='Classification'" [formGroup]='classificationForm'
        class="activeBackground">
        <div class="headerTitle">
          <p>{{tabItem.val }}</p>
          <img (click)="onDeSelectTabItem(tabItem.val )" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <ion-list class="ion-no-padding">
          <ion-row class='ion-no-padding'>
            <ion-col size="6" *ngFor="let classificationValue of classificationList; let i=index">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>{{classificationValue.val}}</ion-label>
                <ion-checkbox slot="start" [value]="classificationValue.val" [checked]="classificationValue.isChecked"
                  (ionChange)="onClassificationChange($event)"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Date of Incident :</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" formControlName="date_of_incident">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Time of Incident :</ion-label>
          <ion-datetime displayFormat="HH:mm:ss" placeholder="Select Time" formControlName="time_of_incident">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Date Reported :</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select date" formControlName="date_reported">
          </ion-datetime>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label position="floating">Time Reported :</ion-label>
          <ion-datetime displayFormat="HH:mm:ss" placeholder="Select Time" formControlName="time_reported">
          </ion-datetime>
        </ion-item>

        <ion-radio-group formControlName="classification_location_option">
          <ion-row>
            <ion-col size="12">
              <ion-item class="ra" lines="none">
                <ion-label>Add Location</ion-label>
                <ion-radio slot="start" value="Add Location">
                </ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item class="ra" lines="none">
                <ion-label>Choose Location</ion-label>
                <ion-radio slot="start" value="Choose Location">
                </ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div *ngIf="classificationForm.value['classification_location_option'] =='Add Location'">
          <p class="question">Add Location :</p>
          <ion-input placeholder="Please add the location" formControlName="classification_location_value">
          </ion-input>
        </div>

        <div *ngIf="classificationForm.value['classification_location_option'] == 'Choose Location'">
          <p class="question">Choose Location :</p>
          <ion-item class="ra" lines="none">
            <ion-select placeholder="Select Location" interface="action-sheet"
              formControlName="classification_location_value1">
              <ion-select-option value="{{locationListItem?.location_name}}"
                *ngFor="let locationListItem of locationList">
                {{locationListItem?.location_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-item class="ra" lines="none">
          <ion-select placeholder="Shift Type" interface="action-sheet" formControlName="classification_shift_type">
            <ion-select-option value="{{shiftItem?.shift_type}}" *ngFor="let shiftItem of shiftTypeList">
              {{shiftItem?.shift_type}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-select placeholder="Supervisor" interface="action-sheet" formControlName="classification_supervisor">
            <ion-select-option value="{{superVisorItem?.full_name}}" *ngFor="let superVisorItem of superVisorList">
              {{superVisorItem?.full_name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="ra" lines="none">
          <ion-label class="labelCustomDropDown">{{managerList}}</ion-label>
          <ion-buttons slot="end" class="ion-no-padding ion-no-margin">
            <ion-button class="ion-no-padding ion-no-margin" (click)="onOpenModal()">
              <ion-icon name="chevron-down" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>

      <!-------------------------------------------------Classification---------------------------------------------->
    </div>

    <!-------------------------------------------------Classification Sub Tab---------------------------------------------->

    <div *ngFor="let classification of selectedTabList; let i = index">
      <ion-button class="inci" *ngIf="selectedTabItem != classification" (click)="onSelectTabItem(classification)">
        <p>{{classification}} </p>
        <img class="plus" src="{{imagePath+'add.png'}}" />
      </ion-button>

      <!-------------------------------------------------Injury------------------------------------------------------->
      <!-- <div *ngIf="selectedTabItem==tabItem && selectedTabItem=='Injury'" class="activeBackground"> -->
      <div *ngIf="selectedTabItem == classification && classification =='Injury'" class="activeBackground"
        [formGroup]="injuryForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(tabItem)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />

        <ion-item class="ra" lines="none">
          <ion-label>Injured Person</ion-label>
          <ion-select placeholder="Select Injured Person" interface="action-sheet" formControlName="injury_persons"
            (ionChange)="onAddMultiplePersonDetails($event)">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- <ion-radio-group formControlName="injury_persons" (ionChange)="onAddMultiplePersonDetails()">
          <ion-row>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>1</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>2</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>3</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item class="ra" lines="none">
                <ion-label>4</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group> -->

        <div formArrayName="person_details" *ngFor="let personDetails of injuryPersonDetails.controls; let j = index ">
          <ion-card>
            <div class="headerTitle">
              <p class="questionHead">Person {{(j+1)}} Details</p>
            </div>
            <div [formGroupName]="j">
              <p class="question">Full Name of Injured Person :</p>
              <ion-item class="ra">
                <ion-select placeholder="Select One" interface="action-sheet" formControlName="injured_person_option">
                  <ion-select-option value="{{witnessName?.name_of_witness}}" *ngFor="let witnessName of witnessList">
                    {{witnessName?.name_of_witness}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <div *ngIf='injuryForm.value["person_details"][j].injured_person_option=="Other"'>
                <p class="question">Full name of Injured Person :</p>
                <ion-input placeholder="Enter here" formControlName="injured_person_option_value">
                </ion-input>
              </div>

              <ion-item class="ra">
                <ion-label>Gender :</ion-label>
                <ion-select placeholder="Select One" interface="action-sheet" formControlName="gender">
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                  <ion-select-option value="Other">Other</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="ion-no-padding ra" mode="ios">
                <ion-label>Date of Birth :</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date_of_birth">
                </ion-datetime>
              </ion-item>

              <ion-radio-group formControlName="normal_duties">
                <ion-item class="ra" lines="none">
                  <ion-label>Return to Normal Duties :</ion-label>
                </ion-item>
                <ion-row class="ion-no-padding">
                  <ion-col size="6">
                    <ion-item class="ra" lines="none">
                      <ion-label>Yes</ion-label>
                      <ion-radio slot="start" value="Yes"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item class="ra" lines="none">
                      <ion-label>No</ion-label>
                      <ion-radio slot="start" value="No"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>

              <div *ngIf="injuryForm.value['person_details'][j].normal_duties == 'No'">
                <p class="question">Explanation :</p>
                <ion-input placeholder="Enter here" formControlName="normal_duties_explanation"> </ion-input>
              </div>

              <div>
                <ion-radio-group formControlName="alternate_duties">
                  <ion-row>
                    <ion-col size="12">
                      <ion-item class="ra" lines="none">
                        <ion-label>Return to Alternate Duties :</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item class="ra" lines="none">
                        <ion-label>Yes</ion-label>
                        <ion-radio slot="start" value="Yes"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item class="ra" lines="none">
                        <ion-label>No</ion-label>
                        <ion-radio slot="start" value="No"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
              </div>

              <div *ngIf="injuryForm.value['person_details'][j].alternate_duties ==='No'">
                <p class="question">Explanation :</p>
                <ion-input placeholder="Enter here" formControlName="duties_explanation"></ion-input>
              </div>

              <ion-item class="ra">
                <ion-label>Initial Injury / IIIness Classification :</ion-label>
              </ion-item>

              <ion-radio-group formControlName="initital_injury">
                <ion-row>
                  <ion-col size="6" *ngFor="let injuryKeys of injuryList;">
                    <ion-item class="ra" lines="none">
                      <ion-label>{{injuryKeys.val}}</ion-label>
                      <ion-radio slot="start" value="{{injuryKeys.val}}">
                      </ion-radio>
                    </ion-item>
                    <ion-text class="mandatoryField"
                      *ngIf="injuryKeys.val  == injuryForm.value['person_details'][j].initital_injury">
                      {{injuryKeys.desc}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-radio-group>


              <img *ngIf="injuryForm.value['person_details'][j].gender ==='Male'" class="img-responsive"
                src="{{imagePath+'Male_Silhouette.png'}}">
              <img *ngIf="injuryForm.value['person_details'][j].gender ==='Female'" class="img-responsive"
                src="{{imagePath+'Female_Silhouette.png'}}">

              <div>
                <ion-item>
                  <ion-label>Part of body injured :</ion-label>
                  <ion-select multiple="true" cancelText="Cancel" okText="Ok"
                    formControlName="part_of_body_injured_occured">
                    <!-- <ion-select multiple="true" cancelText="Cancel" okText="Ok" (ionChange)="onSelectedBodyPart($event)"
                    formControlName="part_of_body_injured_occured"> -->
                    <ion-select-option value="{{bodyPartsVal.name}}" *ngFor="let bodyPartsVal of bodyPartList">
                      {{bodyPartsVal.name}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- <p class="question">Part of body injured:</p>
                <ion-input placeholder="Enter here" formControlName="part_of_body_injured_occured">
                </ion-input> -->
              </div>

              <div>
                <ion-radio-group formControlName="was_immediate_treatment">
                  <ion-row>
                    <ion-col size="12">
                      <ion-item class="ra" lines="none">
                        <ion-label>Was immediate treatment given ? :</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item class="ra" lines="none">
                        <ion-label>Yes</ion-label>
                        <ion-radio slot="start" value="Yes"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item class="ra" lines="none">
                        <ion-label>No</ion-label>
                        <ion-radio slot="start" value="No"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
              </div>

              <div *ngIf="injuryForm.value['person_details'][j].was_immediate_treatment == 'Yes'">
                <p class="question">What treatment was given ? :</p>
                <ion-input placeholder="Enter here" formControlName="immediate_treatment_given_explanation">
                </ion-input>

                <p class="question">Who administered treatment : </p>

                <p class="question">Person Name :</p>
                <ion-input placeholder="Person Name" formControlName="immediate_treatment_person_name">
                </ion-input>

                <p class="question">Contact Details :</p>
                <ion-input placeholder="Please enter mobile no or email id" type="tel"
                  formControlName="immediate_treatment_person_number">
                </ion-input>
              </div>
            </div>
            <!-- <img class="img-responsive" src="./assets/person.jpg"> -->
          </ion-card>
        </div>
      </div>

      <!-------------------------------------------------Injury------------------------------------------------------->

      <!-------------------------------------------------Environmental------------------------------------------------>

      <div *ngIf="selectedTabItem == classification && classification =='Environmental'" class="activeBackground"
        [formGroup]="enviornmentForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(classification)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />

        <p class="question">
          Immediate action taken to minimize Environmental impact :
        </p>
        <ion-input placeholder="Enter here" formControlName='environmental_description'></ion-input>

        <ion-radio-group formControlName="was_a_chemical_split">
          <ion-item class="ra" lines="none">
            <ion-label>Was a chemical split ? :</ion-label>
          </ion-item>
          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div *ngIf="enviornmentForm.value['was_a_chemical_split']==='Yes'" formGroupName="chemical_details">
          <p class="question">
            Name of chemical :
          </p>
          <ion-input placeholder="Enter here" formControlName="chemical_name"></ion-input>
          <ion-list>
            <ion-item class="ra ion-no-padding" lines="none">
              <ion-label>Insert Photo :</ion-label>
              <ion-checkbox slot="start" [value]="insertPhotoCheckBox" formControlName="insertPhotoCheckBox"
                (ionChange)="onInsertImageSelect($event)">
              </ion-checkbox>
            </ion-item>
          </ion-list>

          <div *ngIf="enviornmentForm.value['chemical_details'].insertPhotoCheckBox">
            <div *ngIf="platformCheck==='cordova'">
              <ion-button class="camera" expand="block" (click)="selectImage(3)">Upload Image</ion-button>
              <img src="" *ngIf="enviornmentForm.value['chemical_details'].insertPhotoCheckBox"
                class="img-responsive" />
            </div>

            <div *ngIf="platformCheck === 'browser'">
              <input type='file' value="chemical_photo" multiple (change)="onChemicalImageSelect($event)">
              <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="chemicalImages.length > 0">
                <ion-slide *ngFor="let chemicalImage of chemicalImages">
                  <img [src]="chemicalImage" tappable (click)="onOpenPreview(chemicalImage)">
                </ion-slide>
              </ion-slides>
              <!-- <div class="ion-text-center" *ngIf="chemicalImages.length > 0">
                <div *ngFor="let chemicalImage of chemicalImages">
                  <img [src]="chemicalImage" height="100" class="img-responsive"> <br />
                </div>
              </div> -->
            </div>
          </div>

          <p class="question">Approximate quantity of chemical spilled :</p>
          <ion-input placeholder="Enter here" type="tel" formControlName="approximate_quantity">
          </ion-input>
        </div>

        <ion-radio-group formControlName='emergency_spill_kit_used'>
          <ion-item class="ra" lines="none">
            <ion-label>Was the emergency spill kit used ? :</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="enviornmentForm.value['emergency_spill_kit_used'] == 'Yes'">
          <p class=" question">
            What was used out of the chemical spill kit ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="out_of_split_kit"></ion-input>
        </div>
      </div>


      <!-------------------------------------------------Environmental------------------------------------------------>

      <!-------------------------------------------------Reputation--------------------------------------------------->

      <div *ngIf="selectedTabItem == classification && classification =='Reputation'" class="activeBackground"
        [formGroup]="reputationDesForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(classification)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <ion-item class="ra" lines="none">
          <ion-label>Was the reputation damages an individual or Company ? :</ion-label>
        </ion-item>
        <ion-list class="ion-no-padding">
          <ion-item *ngFor="let reputationCheckBoxItem of reputationCheckBox" lines="none" class="ion-no-padding">
            <ion-label>{{reputationCheckBoxItem.val}}</ion-label>
            <ion-checkbox slot="end" (ionChange)="onReputationDamagesCheckBox($event)"
              [value]="reputationCheckBoxItem.val" [checked]="reputationCheckBoxItem.isChecked">
            </ion-checkbox>
          </ion-item>
        </ion-list>
        <div
          *ngIf="reputationDesForm.value['reputation_option'][0] == 'Individual' || reputationDesForm.value['reputation_option'][1] == 'Individual'">
          <p class="question">
            How has the Individual's reputation been damaged ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="individual_damage_value"></ion-input>
        </div>
        <div
          *ngIf="reputationDesForm.value['reputation_option'][0] == 'Company' || reputationDesForm.value['reputation_option'][1] =='Company'">
          <p class="question">
            How has the Company's reputation been damaged ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="company_damage_value"></ion-input>
        </div>

        <ion-radio-group formControlName="reputation_negative_effect" (ionChange)="onRepoNegativeEffect($event)">
          <ion-item class="ra" lines="none">
            <ion-label>Was the negative effect internal or external :</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Internal</ion-label>
                <ion-radio slot="start" value="Internal"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>External</ion-label>
                <ion-radio slot="start" value="External"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Both</ion-label>
                <ion-radio slot="start" value="Both"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div
          *ngIf="(reputationDesForm.value['reputation_negative_effect'] == 'Internal') || (reputationDesForm.value['reputation_negative_effect'] == 'Both') ">
          <ion-item class="ra" lines="none">
            <ion-label>What Department was effected ? :</ion-label>
          </ion-item>

          <ion-list class="ion-no-padding">
            <ion-item *ngFor="let departmentEffectVal of departmentEffect" lines="none" class="ion-no-padding">
              <ion-label>{{departmentEffectVal.val}}</ion-label>
              <ion-checkbox slot="end" (ionChange)="onDepartmentEffectCheckBox($event)"
                [value]="departmentEffectVal.val" [checked]="departmentEffectVal.isChecked">
              </ion-checkbox>
            </ion-item>
          </ion-list>
        </div>

        <!-- <ion-radio-group formControlName="effected_department"
          *ngIf="(reputationDesForm.value['reputation_negative_effect'] == 'Internal') || (reputationDesForm.value['reputation_negative_effect'] == 'Both') ">
          <ion-item class="ra" lines="none">
            <ion-label>What Department was effected ? :</ion-label>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Orange Division</ion-label>
                <ion-radio slot="start" value="Orange Division"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Project Services</ion-label>
                <ion-radio slot="start" value="Project Services"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Dubbo Division</ion-label>
                <ion-radio slot="start" value="Dubbo Division"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>Mudgee Division</ion-label>
                <ion-radio slot="start" value="Mudgee Division"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="ra" lines="none">
                <ion-label>West Wyalong Division</ion-label>
                <ion-radio slot="start" value="West Wyalong Division"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group> -->

        <div
          *ngIf="(reputationDesForm.value['reputation_negative_effect'] == 'External') || (reputationDesForm.value['reputation_negative_effect'] == 'Both') ">
          <p class="question"> Who is the external party ? : </p>
          <ion-input placeholder="Enter here" formControlName="external_party"></ion-input>
        </div>

        <p class="question">
          Name of any witness :
        </p>
        <!-- <ion-input placeholder="Enter here" formControlName="name_of_witness"></ion-input> -->
        <ion-select placeholder="Select One" interface="action-sheet" formControlName="name_of_witness">
          <ion-select-option value="{{reputationWitnessValue?.name_of_witness}}"
            *ngFor="let reputationWitnessValue of reputationWitnessList">
            {{reputationWitnessValue?.name_of_witness}}</ion-select-option>
        </ion-select>

        <div *ngIf="reputationDesForm.value['name_of_witness'] == 'Other'" formGroupName='other_witness_details'>
          <p class="other_witness"> Other Witness Details : </p>
          <p class="question">
            Name :
          </p>
          <ion-input placeholder="Enter Other Witness Name" formControlName="other_witness_name"></ion-input>
          <p class="question">
            Mobile No :
          </p>
          <ion-input type="tel" placeholder="Enter Other Witness Mobile No " formControlName="other_witness_mobile_no">
          </ion-input>

          <p class="question">
            Email id :
          </p>
          <ion-input type="email" placeholder="Enter Other Witness Email" formControlName="other_witness_email">
          </ion-input>
        </div>

        <p class="question">
          What is the possible outcome of this incident ? :
        </p>
        <ion-input placeholder="Enter here" formControlName="possible_outcome_incident"></ion-input>
      </div>
      <!-------------------------------------------------Reputation--------------------------------------------------->

      <!-------------------------------------------------Security----------------------------------------------------->

      <div *ngIf="selectedTabItem == classification && classification =='Security'" class="activeBackground"
        [formGroup]="securityForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(classification)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />

        <ion-radio-group formControlName="security_option" (ionChange)="onSecurityOption($event)">
          <ion-row class="ion-no-padding">
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>IT</ion-label>
                <ion-radio slot="start" value="IT"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Theft</ion-label>
                <ion-radio slot="start" value="Theft"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Other</ion-label>
                <ion-radio slot="start" value="Other"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <div *ngIf="securityForm.value['security_option']=='IT'">
          <ion-list class="ion-no-padding">
            <ion-item class="ion-no-padding" lines="none">
              <ion-label>What kind of IT Security Incident ? :</ion-label>
            </ion-item>
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-no-padding" *ngFor="let itSecurityItem of itSecurityList">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>{{itSecurityItem.val}}</ion-label>
                  <ion-checkbox slot="start" [value]="itSecurityItem.val" [checked]="itSecurityItem.isChecked"
                    (ionChange)="onSecurityItOption($event)"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>
        <div *ngIf="securityForm.value['security_option']=='Theft'">
          <p class="question">
            What has been stolen ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="what_has_been_stolen_item"></ion-input>
          <p class="question">
            Approximate value of stolen item ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="approximate_value_of_stolen"></ion-input>
        </div>

        <div *ngIf="securityForm.value['security_option']=='Other'">
          <p class="question">
            What is the Security incident ? :
          </p>
          <ion-input placeholder="Enter here" formControlName="what_is_the_specific_securities_incident"></ion-input>
        </div>
      </div>
      <!-------------------------------------------------Security----------------------------------------------------->


      <!-------------------------------------------------Asset-------------------------------------------------------->
      <!-- <div *ngIf="selectedTabItem==tabItem && selectedTabItem=='Asset'" class="activeBackground"> -->
      <div *ngIf=" selectedTabItem == classification && classification =='Asset'" class="activeBackground"
        [formGroup]="assetDescriptionForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(classification)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <p class="question">
          Asset description :
        </p>
        <ion-input placeholder="Enter here" formControlName="asset_description"></ion-input>
        <ion-radio-group formControlName="asset_has_number">
          <ion-item class="ra" lines="none">
            <p class="question">Does Asset have a number ? :</p>
          </ion-item>
          <ion-row class="ion-no-padding">
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="Yes"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item class="ra" lines="none">
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="assetDescriptionForm.value['asset_has_number']=='Yes'">
          <p class="question">
            Asset Number :
          </p>
          <ion-input placeholder="Enter here" type="tel" formControlName="asset_number"></ion-input>
        </div>
        <p class="question">
          Extent of Damage :
        </p>
        <ion-input placeholder="Extent of Damage" formControlName="extent_of_damage"></ion-input>

        <div *ngIf="platformCheck==='cordova'">
          <ion-button class="camera" expand="block" (click)="selectImage(3)">Upload photo of damage</ion-button>
          <img src="" *ngIf="enviornmentForm.value['chemical_details'].insertPhotoCheckBox" class="img-responsive" />
        </div>

        <div *ngIf="platformCheck === 'browser'">
          <p class="question">
            Upload photo of damage :
          </p>
          <input type='file' value="extent_damage_image" multiple (change)="onSelectDamageImage($event)">
          <ion-slides [options]="sliderOpts" class="preview-slides" *ngIf="damageImages.length > 0">
            <ion-slide *ngFor="let damageImage of damageImages">
              <img [src]="damageImage" tappable (click)="onOpenPreview(damageImage)">
            </ion-slide>
          </ion-slides>
        </div>
      </div>
      <!-------------------------------------------------Asset-------------------------------------------------------->

      <!-------------------------------------------------Report------------------------------------------------------->
      <!-- <div *ngIf="selectedTabItem==tabItem && selectedTabItem=='Report'" class="activeBackground"> -->
      <div *ngIf=" selectedTabItem == classification && classification =='Report'" class="activeBackground"
        [formGroup]="reportForm">
        <div class="headerTitle">
          <p>{{classification}}</p>
          <img (click)="onDeSelectTabItem(classification)" class="plus" src="{{imagePath+'minus.png'}}" />
        </div>
        <hr />
        <p class="question">
          What could have done differently ? :
        </p>
        <ion-input placeholder="Enter here" formControlName='report'></ion-input>
      </div>
      <!-------------------------------------------------Report------------------------------------------------------->

    </div>

    <!-------------------------------------------------Classification Sub Tab---------------------------------------------->
  </div>

  <ion-button (click)="onSubmit('submit')" expand="full" class="btnSubmit">Update</ion-button>
</ion-content>