<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="container">
    <div *ngIf="roleId != gmRole">
      <ion-button class="login-btn" *ngFor="let item of _menu" [routerLink]="item.route">
        {{item.menuName}}
      </ion-button>
    </div>
    <ion-button class="login-btn" *ngFor="let item of data" (click)="navGo(item)">
      {{item}}
      <ion-badge class="badge"
        *ngIf="item == 'Notification' && sharedService.notViewNotiCount != 0 && roleId != userRole " color="danger">
        {{sharedService.notViewNotiCount}}</ion-badge>
    </ion-button>
    <ion-button class="login-btn logouts" (click)="logOut()">
      Logout
    </ion-button>
  </div>
</ion-content>