<ion-content>
  <div class="toolbar">
    <ion-text>Dashboard</ion-text>
    <ion-buttons class='logout' slot="end">
      <ion-button (click)="onLogOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="container">
    <div class="addForm" (click)="onAddForm()">
      <!-- <div class="addForm" (click)="onAddForm()" *ngIf="roleId != gmRole"> -->
      <img src="{{imageUrl + 'form.png'}}" />
      <p class=" addF">ADD FORM</p>
    </div>
    <div *ngFor="let tabVal of menu">
      <ion-button class="btn" [routerLink]="tabVal.route">
        {{tabVal.menuName}}
        <ion-badge class="badge" *ngIf="tabVal.menuName == 'Notification' && sharedService.notViewNotiCount != 0"
          color="danger">
          {{sharedService.notViewNotiCount}}</ion-badge>
      </ion-button>
    </div>
    <ion-button class="btn logouts" (click)="onLogOut()">
      Logout
    </ion-button>
  </div>
</ion-content>