<ion-content>
  <app-header [pageName]="pName"></app-header>
  <div class="ion-padding-start ion-padding-end container">
    <!----------------------------------------------------------- Incident Detalis ---------------------------------------------------->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Incident </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="question">Incident :</p>
        <p class="value">{{incidentDetails?.incident_value}}</p>
        <ion-item *ngIf="incidentDetails?.incident_value == 'Near Miss'" lines="none">
          <ion-row>
            <ion-col>
              <p class="question">Who witnessed the near miss ? :</p>
              <p class="value">{{incidentDetails?.incident_near_miss}}</p>
              <p class="question">Possible consequence under different circumstances :</p>
              <p class="value">{{incidentDetails?.incident_near_miss_other}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <!----------------------------------------------------------- Incident Detalis ---------------------------------------------------->

    <!------------------------------------------------------------ Photography -------------------------------------------------------->
    <ion-card
      *ngIf="incidentDetails && incidentDetails['photography_image'] && incidentDetails['photography_image'].length && incidentDetails['photography_image'].length > 0">
      <ion-card-header>
        <ion-card-title>
          Photography
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-slides [options]="sliderOpts" class="preview-slides">
          <ion-slide *ngFor="let photography_image of incidentDetails['photography_image']">
            <img [src]="photography_image" tappable (click)="onOpenPreview(photography_image)">
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>
    <!------------------------------------------------------------ Photography -------------------------------------------------------->

    <!----------------------------------------------------------- Incident Description ------------------------------------------------>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Incident Description
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="question">Description of incident :</p>
        <p class="value">{{incidentDetails?.incident_description}}</p>
        <p class="question">Immediate action taken :</p>
        <p class="value">{{incidentDetails?.incident_description_action}}</p>
        <p class="question">What could have been done differently ? :</p>
        <p class="value">{{incidentDetails?.seen_differently}}</p>
        <p class="question">Was there any Witnesses of the incident ? :</p>
        <p class="value">{{incidentDetails?.was_there_any_witness_of_the_incident}}</p>

        <div *ngIf="incidentDetails?.incident_description_alcohol_test != '' ">
          <p class="question">Alcohol test completed :</p>
          <p class="value">{{incidentDetails?.incident_description_alcohol_test}}</p>
          <ion-slides [options]="sliderOpts" class="preview-slides"
            *ngIf="incidentDetails['alcohol_test_image'] && incidentDetails['alcohol_test_image'].length > 0">
            <ion-slide *ngFor="let alcohol_test_image of incidentDetails['alcohol_test_image']">
              <img [src]="alcohol_test_image" tappable (click)="onOpenPreview(alcohol_test_image)">
            </ion-slide>
          </ion-slides>
        </div>

        <div *ngIf="incidentDetails?.drug_test_completed !='' ">
          <p class="question">Drug test completed :</p>
          <p class="value">{{incidentDetails?.drug_test_completed}}</p>
          <ion-slides [options]="sliderOpts" class="preview-slides"
            *ngIf="incidentDetails['drug_test_image'] && incidentDetails['drug_test_image'].length > 0">
            <ion-slide *ngFor="let drug_test_image of incidentDetails['drug_test_image']">
              <img [src]="drug_test_image" tappable (click)="onOpenPreview(drug_test_image)">
            </ion-slide>
          </ion-slides>
        </div>

        <div *ngIf="incidentDetails?.return_to_alternate_duties!==''">
          <p class="question">Return to Alternate Duties :</p>
          <p class="value">{{incidentDetails?.return_to_alternate_duties}}</p>
          <ion-slides [options]="sliderOpts" class="preview-slides"
            *ngIf="incidentDetails['return_to_alternate_duties_image'] && incidentDetails['return_to_alternate_duties_image'].length > 0">
            <ion-slide
              *ngFor="let return_to_alternate_duties_image of incidentDetails['return_to_alternate_duties_image']">
              <img [src]="return_to_alternate_duties_image" tappable
                (click)="onOpenPreview(return_to_alternate_duties_image)">
            </ion-slide>
          </ion-slides>
        </div>
      </ion-card-content>
    </ion-card>
    <!----------------------------------------------------------- Incident Description ------------------------------------------------>

    <!------------------------------------------------------------- Classification ---------------------------------------------------->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Classification
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="question">Classification :</p>
        <ion-row class='ion-no-padding'>
          <ion-col size="6" *ngFor="let classificationValue of classificationList; let i=index">
            <ion-item lines="none" class="ion-no-padding">
              <p class="value">{{classificationValue}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <p class="question">Date of Incident :</p>
        <p class="value">{{incidentDetails['date_of_incident'] }}</p>

        <p class="question">Time Of Incident :</p>
        <p class="value">{{incidentDetails['time_of_incident']}}</p>

        <p class="question">Date Reported :</p>
        <p class="value">{{incidentDetails['date_reported'] }}</p>

        <p class="question">Time Reported :</p>
        <p class="value">{{incidentDetails['time_reported'] }}</p>

        <p class="question">Location Type :</p>
        <p class="value">{{incidentDetails['classification_location_option'] }}</p>

        <p class="value">{{incidentDetails['classification_location_value'] }}</p>

        <p class="question">Shift Type :</p>
        <p class="value">{{incidentDetails['classification_shift_type'] }}</p>

        <p class="question">Supervisor :</p>
        <p class="value">{{incidentDetails['classification_supervisor'] }}</p>

        <p class="question">Name of Manager :</p>
        <p class="value">{{incidentDetails['classification_manager']}}</p>
      </ion-card-content>
    </ion-card>
    <!------------------------------------------------------------- Classification ---------------------------------------------------->

    <div *ngFor="let classificationValue of classificationList; let i=index">
      <!------------------------------------------------------------- Injury ------------------------------------------------------------>
      <ion-card *ngIf="classificationValue == 'Injury'">
        <ion-card-header>
          <ion-card-title>
            Injury
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card *ngFor="let personDetails of incidentDetails['person_details']; let i=index">
            <ion-card-header>
              <ion-card-title>
                Person {{(i+1)}} Details
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="question">Full Name of Injured Person :</p>
              <p class="value">{{personDetails['injured_person_option'] }}</p>

              <!-- <p class="value" *ngIf="personDetails['injured_person_option_value'] == 'Other' ">
                {{personDetails['injured_person_option_value'] }}</p> -->

              <ion-grid *ngIf="personDetails['injured_person_option'] == 'Other' " lines="none">
                <ion-row>
                  <ion-col size="6">
                    <p class="question">Other Person Name :</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">
                      {{personDetails['injured_person_option_other_details'].injured_person_option_other_name }}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <p class="question">Other Person Mobile No:</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">
                      {{personDetails['injured_person_option_other_details'].injured_person_option_other_name }}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <p class="question">Other Person Email id:</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">
                      {{personDetails['injured_person_option_other_details'].injured_person_option_other_email }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <p class="question">Gender :</p>
              <p class="value">{{personDetails['gender'] }}</p>

              <p class="question">Date of Birth :</p>
              <p class="value">{{personDetails['date_of_birth'] }}</p>

              <p class="question">Return to Normal Duties :</p>
              <p class="value">{{personDetails['normal_duties'] }}</p>

              <ion-item lines="none"
                *ngIf="personDetails['normal_duties_explanation'] != ''  && personDetails['normal_duties_explanation'] != null">
                <ion-row>
                  <ion-col>
                    <p class="question">Explanation :</p>
                    <p class="value">{{personDetails['normal_duties_explanation'] }}</p>
                  </ion-col>
                </ion-row>
              </ion-item>

              <p class="question">Return to Alternate Duties :</p>
              <p class="value">{{personDetails['alternate_duties'] }}</p>

              <ion-item lines="none"
                *ngIf="personDetails['duties_explanation'] != '' && personDetails['duties_explanation'] != null">
                <ion-row>
                  <ion-col>
                    <p class="question">Explanation :</p>
                    <p class="value">{{personDetails['duties_explanation'] }}</p>
                  </ion-col>
                </ion-row>
              </ion-item>

              <p class="question">Initial Injury / IIIness Classification :</p>
              <p class="value">{{personDetails['initital_injury'] }}</p>

              <p class="question">Part of body injured :</p>
              <p class="value" *ngFor="let injuryPart of personDetails['part_of_body_injured_occured']">{{injuryPart}}
              </p>

              <p class="question">Was immediate treatment given ? :</p>
              <p class="value">{{personDetails['was_immediate_treatment'] }}</p>

              <ion-grid *ngIf="personDetails['was_immediate_treatment'] == 'Yes'" lines="none">
                <ion-row>
                  <ion-col size="6">
                    <p class="question">What treatment was given ? :</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">{{personDetails['immediate_treatment_given_explanation'] }}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <p class="question">Who administered treatment ? :</p>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <p class="question">Person Name :</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">{{personDetails['immediate_treatment_person_name'] }}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <p class="question">Contact Details :</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="value">{{personDetails['immediate_treatment_person_number'] }}</p>
                  </ion-col>
                </ion-row>
                <!-- </ion-row> -->
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
      <!------------------------------------------------------------ Injury ------------------------------------------------------------->
      <!----------------------------------------------------------- Environmental ------------------------------------------------------->
      <ion-card *ngIf="classificationValue == 'Environmental'">
        <ion-card-header>
          <ion-card-title>
            Environmental
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <p class="question">Immediate action taken to minimize Environment impact :</p>
          <p class="value">{{incidentDetails['environmental_description']}}</p>

          <p class="question">Was a chemical split ? :</p>
          <p class="value">{{incidentDetails['was_a_chemical_split']}}</p>


          <ion-item *ngIf="incidentDetails['was_a_chemical_split']==='Yes'" lines="none">
            <ion-row>
              <ion-col>
                <p class="question">Name of chemical :</p>
                <p class="value">{{incidentDetails['chemical_details'].chemical_name}}</p>

                <p class="question">Insert Photo :</p>

                <ion-slides [options]="sliderOpts" class="preview-slides"
                  *ngIf="incidentDetails['chemical_details'] && incidentDetails['chemical_details'].chemical_photo && incidentDetails['chemical_details'].chemical_photo.length > 0">
                  <ion-slide *ngFor="let chemical_photo of incidentDetails['chemical_details'].chemical_photo">
                    <img [src]="chemical_photo" tappable (click)="onOpenPreview(chemical_photo)">
                  </ion-slide>
                </ion-slides>

                <p class="question">Approximate quantity of chemical spilled :</p>
                <p class="value">{{incidentDetails['chemical_details'].approximate_quantity}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <p class="question">Was the emergency spill kit used ? :</p>
          <p class="value">{{incidentDetails['emergency_spill_kit_used']}}</p>

          <ion-item *ngIf="incidentDetails['emergency_spill_kit_used']==='Yes'" lines="none">
            <ion-row>
              <ion-col>
                <p class=" question"> What was used out of the chemical spill kit ? :</p>
                <p class="value">{{incidentDetails['out_of_split_kit']}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

        </ion-card-content>
      </ion-card>
      <!----------------------------------------------------------- Environmental -------------------------------------------------------->

      <!----------------------------------------------------------- Reputation ----------------------------------------------------------->
      <ion-card *ngIf="classificationValue == 'Reputation'">
        <ion-card-header>
          <ion-card-title>
            Reputation
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <p class="question">Was the reputation damages an individual or Company ? :</p>
          <p class="value">{{incidentDetails['reputation_option']}}</p>

          <ion-item lines="none"
            *ngIf="incidentDetails['individual_damage_value'] == 'Individual' || incidentDetails['company_damage_value'] == 'Company'">

            <p class="question">Reputation damages type : </p>
            <ion-row>
              <ion-col>
                <p class="question" *ngIf="incidentDetails['individual_damage_value'] == 'Individual' ">How has the
                  Individual's reputation been damaged ? :</p>
                <p class="value">{{incidentDetails['individual_damage_value']}}</p>

                <p class="question" *ngIf="incidentDetails['company_damage_value'] == 'Company' ">How has the
                  Company's reputation been damaged ? :</p>
                <p class="value">{{incidentDetails['company_damage_value']}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <p class="question">Was the negative effect internal or external ? :</p>
          <p class="value">{{incidentDetails['reputation_negative_effect']}}</p>

          <ion-item *ngIf="incidentDetails['effected_department'] != '' || incidentDetails['external_party'] != ''"
            lines="none">
            <ion-row>
              <ion-col>
                <div *ngIf="incidentDetails['effected_department'] != ''">
                  <p class="question">What Department was effected ? :</p>
                  <p class="value">{{incidentDetails['effected_department']}}</p>
                </div>
                <div *ngIf="incidentDetails['external_party'] != ''">
                  <p class="question">Who is the external party ? :</p>
                  <p class="value">{{incidentDetails['external_party']}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>

          <p class="question">Name of any witness :</p>
          <p class="value">{{incidentDetails['name_of_witness']}}</p>

          <ion-item *ngIf="incidentDetails['name_of_witness'] == 'Other'" lines="none">
            <ion-row>
              <ion-col>
                <div>
                  <p class="question">Name :</p>
                  <p class="value">{{incidentDetails['other_witness_details'].other_witness_name}}</p>
                </div>
                <div>
                  <p class="question">Mobile No :</p>
                  <p class="value">{{incidentDetails['other_witness_details'].other_witness_mobile_no}}</p>
                </div>
                <div>
                  <p class="question">Email id :</p>
                  <p class="value">{{incidentDetails['other_witness_details'].other_witness_email}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>

          <p class="question">What is the possible outcome of this incident ? :</p>
          <p class="value">{{incidentDetails['possible_outcome_incident']}}</p>

        </ion-card-content>
      </ion-card>
      <!----------------------------------------------------------- Reputation ----------------------------------------------------------->
      <!----------------------------------------------------------- Security ------------------------------------------------------------->
      <ion-card *ngIf="classificationValue == 'Security'">
        <ion-card-header>
          <ion-card-title>
            Security
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="question">Security :</p>
          <p class="value">{{incidentDetails['security_option']}}</p>

          <ion-item *ngIf="incidentDetails['security_option'] == 'IT'">
            <ion-row>
              <ion-col>
                <p class="question">What kind of IT Security Incident ? :</p>
                <p class="value">{{incidentDetails['it_option_value']}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item *ngIf="incidentDetails['security_option'] == 'Theft'" lines="none">
            <ion-row>
              <ion-col>
                <div>
                  <p class="question"> What has been stolen ? :</p>
                  <p class="value">{{incidentDetails['what_has_been_stolen_item']}}</p>
                </div>
                <div>
                  <p class="question">Approximate value of stolen item ? :</p>
                  <p class="value">{{incidentDetails['approximate_value_of_stolen']}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item *ngIf="incidentDetails['security_option'] == 'Other'" lines="none">
            <ion-row>
              <ion-col>
                <p class="question"> What is the Security incident ? :</p>
                <p class="value">{{incidentDetails['what_is_the_specific_securities_incident']}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

        </ion-card-content>
      </ion-card>
      <!----------------------------------------------------------- Security ------------------------------------------------------------->

      <!----------------------------------------------------------- Assets --------------------------------------------------------------->
      <ion-card *ngIf="classificationValue == 'Asset'">
        <ion-card-header>
          <ion-card-title>
            Assets
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="question">Asset description :</p>
          <p class="value">{{incidentDetails['asset_description']}}</p>

          <p class="question">Does Asset have a number ? :</p>
          <p class="value">{{incidentDetails['asset_has_number']}}</p>

          <ion-item *ngIf="incidentDetails['asset_has_number']=='Yes'" lines="none">
            <ion-row>
              <ion-col>
                <p class="question"> Asset Number :</p>
                <p class="value">{{incidentDetails['asset_number']}}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <p class="question">Extent of Damage :</p>
          <p class="value">{{incidentDetails['extent_of_damage']}}</p>

          <div *ngIf="incidentDetails['extent_damage_image'] && incidentDetails['extent_damage_image'].length > 0">
            <p class="question">Upload photo of damage :</p>
            <ion-slides [options]="sliderOpts" class="preview-slides">
              <ion-slide *ngFor="let extent_damage_image of incidentDetails['extent_damage_image']">
                <img [src]="extent_damage_image" tappable (click)="onOpenPreview(extent_damage_image)">
              </ion-slide>
            </ion-slides>
          </div>

        </ion-card-content>
      </ion-card>
      <!----------------------------------------------------------- Assets --------------------------------------------------------------->

      <!----------------------------------------------------------- Report --------------------------------------------------------------->
      <ion-card *ngIf="classificationValue == 'Report'">
        <ion-card-header>
          <ion-card-title>
            Report
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="question"> What could have done differently ? :</p>
          <p class="value">{{incidentDetails['report']}}</p>
        </ion-card-content>
      </ion-card>
      <!----------------------------------------------------------- Report --------------------------------------------------------------->
    </div>
  </div>
</ion-content>