<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Name of the Managers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-input placeholder="Search manager" [(ngModel)]="term" ></ion-input>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button class="ion-no-padding" lines="none" (click)="close(item)" *ngFor="let item of data|filter:term">
      <ion-label>{{item?.full_name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>